//colors
$color_bon_jour_approx: #e1e1e1;
$color_tundora_approx: #444;
$color_alto_approx: #ddd;

//@extend-elements
//original selectors
//.progress-bar, .progress
%extend_1 {
	height: 1px;
	border: none;
	//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: none;
}


.progress-bar {
	@extend %extend_1;
}
.progress {
	@extend %extend_1;
}
.progress-title {
	font-weight: 700;
	text-transform: uppercase;
	margin: 6px 0 10px;
}
.progress-value {
	font-weight: 700;
	display: none;
}
.circular-cont {
	width: 150px;
	height: 150px;
	display: block;
}
.circular-cont-inner {
	position: absolute;
}
.icon-circular {
	color: $color_tundora_approx;
	width: 150px;
	height: 150px;
	display: table;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 100px;
	i {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		opacity: 0;
	}
	.icon-char {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
}
.circular-text {
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 0;
}
@media(max-width: 767px) {
	.circular-line {
		width: 20%;
		margin: 9px auto 5px;
		border-top: 1px solid $color_bon_jour_approx;
		//Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 0.2s ease-in-out;
	}
}
@media(min-width: 768px) {
	.po-column .hover-ani:hover .circular-line {
		width: 70%;
	}
}
.dial {
	opacity: 0;
}
.section-background-light .circular-line {
	border-top: 1px solid $color_alto_approx;
}
