//colors
$white_60: rgba(255, 255, 255, 0.6);
$white: #fff;
$white_100: rgba(255, 255, 255, 1);
$color_suva_gray_approx: #888;
$red: #f00;
$color_aztec_approx: #15191b;
$color_mountain_mist_approx: #999999;
$color_boston_blue_approx: #428bca;
$white_90: rgba(255, 255, 255, 0.9);
$color_mine_shaft_approx: #333;
$seashell: #f1f1f1;
$black_50: rgba(0, 0, 0, 0.5);
$color_gallery_approx: #eee;
$color_wild_sand_approx: #f5f5f5;
$color_alabaster_approx: #f9f9f9;
$color_alto_approx: #ddd;
$color_shamrock_approx: #20c596;
$white_40: rgba(255, 255, 255, 0.4);

//fonts
$font_0: FontAwesome;

//urls
$url_0: url("../images/nav-arrow-sub.png");

//@extend-elements
//original selectors
//.po-navbar li.active .dropdown-menu a, .po-navbar li.menu-item .dropdown-menu a
%extend_1 {
	color: $color_suva_gray_approx;
	padding: 0 0 25px;
	font-size: 14px;
}

//original selectors
//.nav > li.disabled > a:hover, .nav > li.disabled > a:focus
%extend_2 {
	color: $color_mountain_mist_approx;
	text-decoration: none;
	cursor: not-allowed;
	background-color: transparent;
}

//original selectors
//.collapse, .navbar-ex1-collapse, .navbar-collapse
%extend_3 {
	width: 100%;
	z-index: 999999999;
	position: absolute;
	margin-top: 8px;
}

//original selectors
//.nav > li.disabled > a:hover, .nav > li.disabled > a:focus
%extend_4 {
	color: $color_mountain_mist_approx;
	text-decoration: none;
	cursor: not-allowed;
	background-color: transparent;
}


@media(max-width: 767px) {
	.po-navbar {
		//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
		border-radius: 0;
		padding: 0;
		height: 53px;
		li {
			font-size: 14px;
			font-weight: 600;
			cursor: pointer;
			text-transform: uppercase;
			letter-spacing: 1px;
			a {
				color: $white_60;
				display: block;
				//Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
				transition: all 0.2s ease-in-out;
				height: 53px;
				&:hover {
					color: $white;
					background-color: transparent;
				}
			}
			&.active {
				a {
					color: $white_100;
					&:hover {
						color: $white;
					}
				}
				.dropdown-menu {
					a {
						@extend %extend_1;
						&:hover {
							color: $white;
							background-color: transparent;
						}
					}
					.active a {
						color: $color_suva_gray_approx;
					}
				}
			}
			&.hovered {
				a {
					color: $white;
					//Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
					transition: all 0.2s ease-in-out;
				}
				.dropdown-menu a {
					color: $color_suva_gray_approx;
					&:hover {
						color: $white;
					}
				}
			}
			&.menu-item .dropdown-menu a {
				@extend %extend_1;
			}
		}
		.navbar-nav {
			display: inline-block;
			float: none;
		}
		.navbar-collapse {
			text-align: center;
		}
	}
	.navbar-fixed-top {
		border: 0;
	}
	.nav-fixed-padding {
		padding-top: 53px;
	}
	.dropdown-menu {
		background-color: transparent;
		border: none;
		//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
		border-radius: 0;
		//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 0 0 0 transparent;
		li {
			a {
				height: auto;
				text-transform: capitalize;
				letter-spacing: 0;
				font-size: 15px;
				//Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
				transition: all 0.2s ease-in-out;
				color: $red;
				&:focus {
					color: $white;
				}
			}
			&.active a {
				&:focus {
					color: $white;
				}
				&:hover {
					background-color: $color_aztec_approx;
				}
			}
		}
		.dropdown-submenu .dropdown-menu {
			visibility: visible;
			display: block;
		}
		.active a {
			background-color: transparent;
			color: $white;
		}
	}
	.caret {
		display: none;
	}
	.nav {
		> li {
			> a {
				&:hover {
					text-decoration: none;
					background-color: rgba(255, 255, 255, 0);
				}
				&:focus {
					text-decoration: none;
					background-color: rgba(255, 255, 255, 0);
				}
			}
			&.disabled > a {
				color: $red;
				&:hover {
					@extend %extend_2;
				}
				&:focus {
					@extend %extend_2;
				}
			}
		}
		.open > a {
			background-color: transparent;
			border-color: $color_boston_blue_approx;
			&:hover {
				background-color: transparent;
				border-color: $color_boston_blue_approx;
			}
			&:focus {
				background-color: transparent;
				border-color: $color_boston_blue_approx;
			}
		}
	}
	.dropdown-submenu {
		position: relative;
		text-align: center;
		.dropdown-menu {
			position: relative;
		}
		.pull-left {
			float: none;
			position: relative;
		}
		&:hover .dropdown-menu {
			display: block;
		}
		&.pull-left .dropdown-menu {
			position: relative;
			//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
			border-radius: 0;
		}
	}
	.po-navbar-footer {
		.navbar-nav {
			text-align: right;
			float: right;
			margin: 0;
		}
		ul {
			padding: 0;
		}
		li a {
			font-size: 13px;
			text-align: right;
			float: right;
			padding: 0 0 0 25px;
			&:hover {
				text-align: right;
				float: right;
				padding: 0 0 0 25px;
			}
		}
	}
	.navbar-collapse {
		background-color: $color_aztec_approx;
		@extend %extend_3;
	}
	.collapse {
		@extend %extend_3;
	}
	.navbar-ex1-collapse {
		@extend %extend_3;
	}
	.navbar-toggle {
		float: none;
		display: block;
		margin: 10px auto 0;
	}
	.icon-bar {
		background: $white_90;
	}
}
@media(min-width: 768px) {
	.po-navbar {
		//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
		border-radius: 0;
		padding: 0;
		height: 53px;
		li {
			font-size: 14px;
			font-weight: 600;
			cursor: pointer;
			text-transform: uppercase;
			letter-spacing: 1px;
			a {
				color: $white_60;
				display: block;
				//Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
				transition: all 0.2s ease-in-out;
				height: 53px;
				&:hover {
					color: $white;
					background-color: transparent;
				}
			}
			&.active {
				a {
					color: $white_100;
					&:hover {
						color: $white;
					}
				}
				.dropdown-menu {
					a {
						color: $color_suva_gray_approx;
						&:hover {
							color: $color_mine_shaft_approx;
							background-color: $seashell;
						}
					}
					.active a {
						color: $color_mine_shaft_approx;
					}
				}
			}
			&.hovered {
				a {
					color: $white;
					//Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
					transition: all 0.2s ease-in-out;
				}
				.dropdown-menu a {
					color: $color_suva_gray_approx;
					&:hover {
						color: $color_mine_shaft_approx;
					}
				}
			}
		}
		.navbar-nav {
			display: inline-block;
			float: none;
		}
		.navbar-collapse {
			text-align: center;
		}
	}
	.navbar-fixed-top {
		background-color: $color_aztec_approx;
		border: 0;
	}
	.nav-fixed-padding {
		padding-top: 53px;
	}
	.po-navbar-slide {
		margin: 0;
	}
	.dropdown-menu {
		padding: 0;
		background-color: $white;
		border: none;
		//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
		border-radius: 0;
		//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 1px 2px 0 $black_50;
		.dropdown-menu {
			margin-left: 160px;
			margin-top: -44px;
			visibility: hidden;
		}
		li {
			a {
				height: auto;
				padding-top: 10px;
				padding-bottom: 12px;
				text-transform: capitalize;
				letter-spacing: 0;
				font-size: 15px;
				//Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
				transition: all 0.2s ease-in-out;
				text-align: left;
				color: $color_suva_gray_approx;
				border-bottom: 1px solid $color_gallery_approx;
				&:hover {
					color: $color_mine_shaft_approx;
					background-color: $color_wild_sand_approx;
				}
			}
			&.active a:hover {
				color: $color_mine_shaft_approx;
				background-color: $color_aztec_approx;
			}
		}
		.dropdown:hover .dropdown-menu {
			visibility: visible;
		}
		.active > a {
			background-color: $color_alabaster_approx;
			color: $color_mine_shaft_approx;
		}
	}
	.caret {
		display: none;
	}
	.nav {
		> li {
			> a {
				&:hover {
					text-decoration: none;
					background-color: rgba(255, 255, 255, 0);
				}
				&:focus {
					text-decoration: none;
					background-color: rgba(255, 255, 255, 0);
				}
			}
			&.disabled > a {
				color: $red;
				&:hover {
					@extend %extend_4;
				}
				&:focus {
					@extend %extend_4;
				}
			}
		}
		.open > a {
			background-color: transparent;
			border-color: $color_boston_blue_approx;
			&:hover {
				background-color: transparent;
				border-color: $color_boston_blue_approx;
			}
			&:focus {
				background-color: transparent;
				border-color: $color_boston_blue_approx;
			}
		}
	}
	.dropdown-submenu {
		position: relative;
		> {
			.dropdown-menu {
				top: 0;
				left: 100%;
				margin-top: 0;
				margin-left: 0;
				display: none;
			}
			a:after {
				content: $url_0;
				color: $color_shamrock_approx;
				font-family: $font_0;
				display: inline-block;
				width: 2.7em;
				padding-right: 10px;
				padding-left: 0.6em;
			}
		}
		.pull-left {
			float: none;
		}
		&:hover > .dropdown-menu {
			display: block;
		}
		&.pull-left > .dropdown-menu {
			left: -100%;
			margin-left: 10px;
			//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
			border-radius: 6px 0 6px 6px;
		}
	}
	.po-navbar-footer {
		.navbar-nav {
			text-align: right;
			float: right;
			margin: 0;
		}
		ul {
			padding: 0;
			margin: 0;
		}
		li a {
			font-size: 13px;
			text-align: right;
			float: right;
			padding: 0 0 0 25px;
			color: $white_40;
			&:hover {
				text-align: right;
				float: right;
				padding: 0 0 0 25px;
				color: $white;
			}
		}
	}
}
