//colors
$color_bon_jour_approx: #e1e1e1;

@media(max-width: 767px) {
	.count-line {
		width: 20%;
		margin: 5px auto 17px;
		border-top: 1px solid $color_bon_jour_approx;
		//Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 0.2s ease-in-out;
	}
}
@media(min-width: 768px) {
	.po-column .hover-ani:hover .count-line {
		width: 70%;
	}
}
@media(min-width: 992px) {
	.count-line {
		width: 50%;
		margin: 10px auto 20px;
		border-top: 1px solid $color_bon_jour_approx;
		//Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 0.2s ease-in-out;
	}
}
.count-text {
	font-weight: bold;
	text-transform: uppercase;
}
.po-count .po-header-line {
	padding-top: 0;
	padding-bottom: 10px;
	opacity: 0;
}
