//colors
$color_mine_shaft_approx: #333;

//urls
$url_0: url("../images/cat-sep.png");

.team-role {
	font-size: 16px;
	font-weight: 600;
	color: $color_mine_shaft_approx;
	margin-bottom: 30px;
	span {
		display: inline-block;
		margin-left: 4px;
		margin-right: 4px;
		width: 9px;
		height: 9px;
		background: $url_0 no-repeat;
	}
}
