//colors
$color_san_marino_approx: #3c6ea9;
$white: #fff;
$color_mountain_meadow_approx: #19a880;
$color_tundora_approx: #444;
$color_zeus_approx: #231f20;
$color_silver_tree_approx: #6db689;
$color_aztec_approx: #15191b;
$color_bon_jour_approx: #e1e1e1;
$color_shamrock_50_approx: rgba(32, 197, 150, 0.5);
$black_40: rgba(0, 0, 0, 0.4);
$color_cod_gray_80_approx: rgba(6, 7, 8, 0.8);
$color_mirage_70_approx: rgba(27, 33, 36, 0.7);
$color_silver_chalice_approx: #aaa;
$color_gossamer_approx: #189773;
$color_shamrock_approx: #20c596;
$color_shark_approx: #22282c;
$black: #000;
$color_pink_swan_approx: #bbb;
$color_alto_approx: #ddd;
$color_mine_shaft_approx: #333;
$color_fuscous_gray_approx: #555;
$color_outer_space_approx: #2a3236;
$color_mountain_mist_approx: #97999a;
$color_dove_gray_approx: #6b6e6f;
$color_star_dust_approx: #999b9c;
$color_cape_cod_approx: #3d4142;
$color_boulder_approx: #797b7c;
$color_mirage_approx: #1b2022;
$color_storm_dust_approx: #636768;
$color_gunsmoke_approx: #818485;

//fonts
$font_0: Source Sans Pro;
$font_1: sans-serif;

//urls
$url_0: url("http://placehold.it/1280x800/999999&text=%20");
$url_1: url("http://placehold.it/1280x800/999999&text=%20");
$url_2: url("http://placehold.it/1280x800/999999&text=%20");
$url_3: url("http://placehold.it/1280x800/999999&text=%20");
$url_4: url("http://placehold.it/1280x800/999999&text=%20");
$url_5: url("http://placehold.it/1280x800/999999&text=%20");
$url_6: url("http://placehold.it/1280x800/999999&text=%20");
$url_7: url("http://placehold.it/1280x800/999999&text=%20");
$url_8: url("http://placehold.it/1280x800/999999&text=%20");
$url_9: url("http://placehold.it/1280x800/999999&text=%20");
$url_10: url("http://placehold.it/1280x800/999999&text=%20");
$url_11: url("images/slide-arrow-left.png");
$url_12: url("images/slide-arrow-right.png");
$url_13: url("images/slide-arrow-left.png");
$url_14: url("images/slide-arrow-right.png");

.textblock-left {
	text-align: left;
	padding: 0 10px 0 0;
}
.textblock-left2 {
	text-align: left;
	padding: 15px 10px 30px 0;
}
.textblock-left3 {
	text-align: left;
	padding: 30px 10px 0 0;
}
.textblock-left4 {
	text-align: left;
	padding: 20px 10px 0 0;
}
.textblock-left5 {
	text-align: left;
	padding-top: 0;
	padding-right: 10px;
	padding-bottom: 0;
	font-size: 16px;
	font-weight: 500;
}
.textblock-large {
	font-size: 22px;
}
.textblock-medium {
	font-size: 15px;
}
.textblock-color {
	color: $color_tundora_approx;
}
.parent-top {
	padding-top: 20px;
}
.parent-top2 {
	padding-top: 10px;
}
.parent-top3 {
	padding-top: 40px;
}
.parent-top4 {
	padding-top: 50px;
}
.parent-top5 {
	padding-top: 30px;
}
.filter-text-style {
	text-align: center;
}
.filter-button {
	margin-left: -1px;
	&:hover {
		color: $white;
		border: 1px solid #3C6EA9;
		background-color: #3C6EA9;
	}
	&.active:hover {
		background-color: #3C6EA9;
		border: 1px solid #3C6EA9;
	}
}
.section-padding {
	padding-top: 50px;
	padding-bottom: 50px;
}
.section-padding2 {
	padding-top: 50px;
	padding-bottom: 80px;
}
.section-padding-color {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #231F20;
	p {
		color: $white;
	}
}
.section-padding-color2 {
	color: $white;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #6DB689;
}
.section-padding-color3 {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #15191B;
}
.section-padding-nb {
	padding-top: 50px;
	padding-bottom: 0;
}
.section-padding-nb2 {
	padding: 50px 0 0;
}
.section-padding-nt {
	padding-top: 0;
	padding-bottom: 50px;
}
.section-padding-nt2 {
	padding-top: 0;
	padding-bottom: 20px;
}
.section-padding-nt3 {
	padding-top: 0;
	padding-bottom: 80px;
}
.padding-nt {
	padding-top: 0;
}
.padding-nb {
	padding-bottom: 0;
}
.sepline-portfolio {
	width: 8%;
	margin: 30px auto 30px;
	border-top: 1px solid $color_bon_jour_approx;
}
.quote-padding {
	padding-top: 0;
	padding-bottom: 0;
}
.no-padding {
	padding: 0;
}
.button-200 {
	width: 200px;
}
.button-summary {
	width: 250px;
	margin: 30px auto 0;
}
.section-image-bg {
	padding-top: 70px;
	padding-bottom: 100px;
	background: $url_0;
	//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: inset 0 0 1000px 500px $color_shamrock_50_approx;
}
.section-image-bg2 {
	padding-top: 100px;
	padding-bottom: 100px;
	background: $url_0;
	//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: inset 0 0 1000px 500px $black_40;
}
.section-image-bg3 {
	padding-top: 100px;
	padding-bottom: 100px;
	background: $url_0;
	//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: inset 0 0 1000px 500px $black_40;
}
.section-image-bg4 {
	padding-top: 100px;
	padding-bottom: 100px;
	background: $url_0;
	//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: inset 0 0 1000px 500px $black_40;
}
.section-image-bg5 {
	padding-top: 100px;
	padding-bottom: 100px;
	background: $url_0;
	//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: inset 0 0 1000px 500px $black_40;
}
.section-image-bg6 {
	padding-top: 100px;
	padding-bottom: 100px;
	background: $url_0;
	//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: inset 0 0 1000px 500px $black_40;
}
.section-image-bg7 {
	padding-top: 80px;
	padding-bottom: 100px;
	background: $url_0;
	//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: inset 0 0 1000px 500px $color_shamrock_50_approx;
}
.section-image-bg8 {
	padding-top: 70px;
	padding-bottom: 100px;
	background: $url_0;
	//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: inset 0 0 1000px 500px $color_shamrock_50_approx;
}
.section-image-bg9 {
	padding-top: 50px;
	padding-bottom: 50px;
	background: $url_0;
	//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: inset 0 0 1000px 500px $color_cod_gray_80_approx;
}
.section-image-bg10 {
	padding-top: 100px;
	padding-bottom: 100px;
	background: $url_0;
	//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: inset 0 0 1000px 500px $color_mirage_70_approx;
}
.blog-quote-bg {
	background: $url_0 $color_silver_chalice_approx;
	background-size: cover;
}
.small-header-style {
	margin-top: px;
	margin-bottom: 14px;
	font-size: 16px;
	font-weight: bold;
}
.padding-features {
	padding-top: 5px;
	padding-bottom: 0;
}
.padding-features2 {
	padding-top: 5px;
	padding-bottom: 40px;
}
.testimonials-background {
	padding-top: 35px;
	padding-bottom: 50px;
	background-color: $color_gossamer_approx;
	color: $white;
}
.holding-logo {
	position: absolute;
	width: 100%;
	padding-top: 50px;
}
.comment-author-image {
	float: left;
}
.comment-author-details {
	float: left;
	margin-left: 20px;
}
.crumb-text {
	margin-top: 26px;
}
.googleMap {
	width: 100%;
	height: 400px;
}
.portfolio-banner {
	width: 100%;
	position: absolute;
	z-index: 99;
	margin-top: 50px;
}
.header-line-small {
	padding-bottom: 35px;
}
.progress-bar {
	background-color: #20C596;
}
.media-container-image {
	height: 200px;
}
.header-small-padding2 {
	padding: 0;
	padding-top: 25px;
}
.related-bottom {
	margin-bottom: 25px;
}
body {
	font-family: $font_0, $font_1;
	: ;
	&.custom-background {
		background-color: #15191B;
	}
}
.navbar-fixed-top {
	background-color: #15191B;
}
.search-form {
	background-color: #3C6EA9;
}
.search-form-noslide {
	background-color: #3C6EA9;
}
.search-field {
	background-color: #3C6EA9;
}
a {
	color: #3C6EA9;
	&:hover {
		color: $black;
	}
}
.blog-form {
	input[type="text"]:focus {
		border: 1px solid #3C6EA9;
	}
	input[type="email"]:focus {
		border: 1px solid #3C6EA9;
	}
	textarea:focus {
		border: 1px solid #3C6EA9;
		border: 1px solid #3C6EA9;
	}
	input[type="submit"]:hover {
		color: $white;
		border: 1px solid #3C6EA9;
		background-color: #3C6EA9;
	}
	input[type='text']:focus {
		border: 1px solid #3C6EA9;
	}
	input[type='email']:focus {
		border: 1px solid #3C6EA9;
	}
}
.outline-button {
	&:hover {
		color: #FFF;
	}
	&:focus {
		color: #FFF;
	}
	&.white {
		color: $white;
		border: 1px solid $white;
		&:hover {
			color: $white;
			border: 1px solid #3C6EA9;
			background-color: #3C6EA9;
		}
	}
	&.light {
		color: $color_pink_swan_approx;
		border: 1px solid $color_alto_approx;
		&:hover {
			color: $white;
			border: 1px solid #3C6EA9;
			background-color: #3C6EA9;
		}
	}
	&.dark {
		color: $color_mine_shaft_approx;
		border: 1px solid $color_fuscous_gray_approx;
		&:hover {
			color: $white;
			border: 1px solid #3C6EA9;
			background-color: #3C6EA9;
		}
	}
}
.banner-button {
	&.white {
		color: $color_mine_shaft_approx;
		background-color: $white;
		&:hover {
			color: $white;
			background-color: #3C6EA9;
		}
	}
	&.light {
		color: $color_mine_shaft_approx;
		background-color: $color_alto_approx;
		&:hover {
			color: $white;
			background-color: #3C6EA9;
		}
	}
	&.dark {
		color: $white;
		background-color: #2A3236;
		&:hover {
			color: $white;
			background-color: #3C6EA9;
		}
	}
}
.btn-icon-ani {
	color: $white;
}
@media(min-width:768px) {
	.portfolio-item a:hover {
		.portfolio-details {
			background-color: #3C6EA9;
		}
		.item-title {
			color: $white;
		}
		.subtitle {
			color: $white;
		}
	}
}
.po-column {
	.icon-boxless-green {
		color: #3C6EA9;
	}
	.icon-float-green {
		color: $white;
		border: 2px solid #3C6EA9;
		background-color: #3C6EA9;
	}
	.po-icon-box .icon-fineeco-color {
		color: #3C6EA9;
		border: 1px solid #3C6EA9;
	}
	.po-icon-float .icon-fineeco-color {
		color: #3C6EA9;
		border: 1px solid #3C6EA9;
	}
	.po-icon-boxless .icon-fineeco-color {
		color: #3C6EA9;
		border: 1px solid #3C6EA9;
	}
	.po-icon-box-left .icon-fineeco-color {
		color: #3C6EA9;
		border: 1px solid #3C6EA9;
	}
	po-icon-box.icon-fineeco-color {
		color: #3C6EA9;
	}
	po-icon-float.icon-fineeco-color {
		color: #3C6EA9;
	}
	po-icon-boxless.icon-fineeco-color {
		color: #3C6EA9;
	}
	po-icon-box-left.icon-fineeco-color {
		color: #3C6EA9;
	}
}
.portfolio-nav {
	.prev.green:hover {
		border: 2px solid #3C6EA9;
		background-color: #3C6EA9;
	}
	.index.green:hover {
		border: 2px solid #3C6EA9;
		background-color: #3C6EA9;
	}
	.next.green:hover {
		border: 2px solid #3C6EA9;
		background-color: #3C6EA9;
	}
}
.share-links {
	.love.green:hover {
		border: 1px solid #3C6EA9;
		background-color: #3C6EA9;
	}
	.prev.green:hover {
		border: 1px solid #3C6EA9;
		background-color: #3C6EA9;
	}
	.index.green:hover {
		border: 1px solid #3C6EA9;
		background-color: #3C6EA9;
	}
	.next.green:hover {
		border: 1px solid #3C6EA9;
		background-color: #3C6EA9;
	}
}
.banner {
	background: #3C6EA9;
}
.banner2 {
	background: #3C6EA9;
}
.footer-links {
	.index.green:hover {
		color: $white;
		border: 1px solid #3C6EA9;
		background-color: #3C6EA9;
	}
	li a {
		color: #B9BABB;
	}
}
.progress-value {
	color: #3C6EA9;
}
.wpcf7 {
	input[type="text"] {
		border: 1px solid $color_alto_approx;
		&:focus {
			border: 1px solid #3C6EA9;
		}
	}
	input[type="email"] {
		border: 1px solid $color_alto_approx;
		&:focus {
			border: 1px solid #3C6EA9;
		}
	}
	textarea {
		border: 1px solid $color_alto_approx;
		border: 1px solid $color_alto_approx;
		&:focus {
			border: 1px solid #3C6EA9;
			border: 1px solid #3C6EA9;
		}
	}
	input[type="submit"] {
		color: $color_alto_approx;
		border: 1px solid $color_alto_approx;
		&:hover {
			color: $white;
			border: 1px solid #3C6EA9;
			background-color: #3C6EA9;
		}
	}
	input[type='text'] {
		border: 1px solid $color_alto_approx;
		&:focus {
			border: 1px solid #3C6EA9;
		}
	}
	input[type='email'] {
		border: 1px solid $color_alto_approx;
		&:focus {
			border: 1px solid #3C6EA9;
		}
	}
	input[type='submit'] {
		color: $color_alto_approx;
		border: 1px solid $color_alto_approx;
		&:hover {
			color: $white;
			border: 1px solid #3C6EA9;
			background-color: #3C6EA9;
		}
	}
}
.footer-container {
	background-color: #15191B;
	h6 {
		color: #97999A;
	}
	p {
		color: #6B6E6F;
	}
}
.recent-tweets {
	li {
		color: #6B6E6F;
		a {
			color: #999B9C;
			&:hover {
				color: #E1E1E1;
			}
		}
	}
	a {
		color: #3D4142;
		&:hover {
			color: #797B7C;
		}
	}
}
.footer-container-bottom {
	background-color: #1B2022;
	p {
		color: $color_storm_dust_approx;
		a {
			color: $color_gunsmoke_approx;
			&:hover {
				color: #D9D9DA;
			}
		}
		span {
			color: $color_storm_dust_approx;
		}
	}
}
.logo {
	max-width: 158px;
}
.logo-blog {
	max-width: 75px;
}
.more-link {
	color: #3C6EA9;
}
.search-field-sidebar {
	border: 1px solid $color_alto_approx;
	&:focus {
		border: 1px solid #3C6EA9;
	}
}
.social-links {
	.index.green:hover {
		color: $white;
		border: 1px solid #3C6EA9;
		background-color: #3C6EA9;
	}
	li a {
		color: #B9BABB;
	}
}
h1 {
	font-family: $font_0, $font_1;
	: ;
}
h2 {
	font-family: $font_0, $font_1;
	: ;
}
h3 {
	font-family: $font_0, $font_1;
	: ;
}
h4 {
	font-family: $font_0, $font_1;
	: ;
}
h5 {
	font-family: $font_0, $font_1;
	: ;
}
h6 {
	font-family: $font_0, $font_1;
	: ;
}
p {
	font-family: $font_0, $font_1;
	: ;
}
button {
	font-family: $font_0, $font_1;
	: ;
}
input {
	font-family: $font_0, $font_1;
	: ;
}
img.logo {
	max-width: 158px;
}
.tagcloud a {
	font-size: 13px;
	&:hover {
		color: $white;
		background-color: #3C6EA9;
		border: 1px solid #3C6EA9;
	}
}
.background-greyscale.green {
	background-color: #3C6EA9;
}
.po-slider-text h1 {
	color: $white;
	color: $white;
}
.search-page-field:focus {
	border: 1px solid #3C6EA9;
}
#crumbs a:hover {
	color: #3C6EA9;
}
.non-immediate-parent-container-b figcaption {
	background-color: $white;
}
.blog-header .entry-title a:hover {
	color: #3C6EA9;
	color: #3C6EA9;
}
.po-more a {
	color: #3C6EA9;
}
.post-meta a:hover {
	color: #3C6EA9;
}
.edit-link a:hover {
	color: #3C6EA9;
}
.reply a:hover {
	color: #3C6EA9;
}
.link-thumb:hover {
	background-color: #3C6EA9;
}
.button-icon-left span {
	color: $white;
}
.button-icon-left-manual span {
	color: $white;
}
.portfolio-cat li a:hover {
	color: #3C6EA9;
}
.portfolio-link li a:hover {
	color: #3C6EA9;
}
.pagination li {
	a:hover {
		color: $white;
		border: 1px solid #3C6EA9;
		background-color: #3C6EA9;
	}
	&.active a:hover {
		background-color: #3C6EA9;
		border: 1px solid #3C6EA9;
	}
}
.po-carouseled .bx-wrapper {
	.bx-prev:hover {
		background: $url_11 no-repeat 60px 8px #3C6EA9;
		border: 1px solid #3C6EA9;
	}
	.bx-next:hover {
		background: $url_12 no-repeat 23px 8px #3C6EA9;
		border: 1px solid #3C6EA9;
	}
}
.po-carouseleds .bx-wrapper {
	.bx-prev:hover {
		background-color: #3C6EA9;
		border: 1px solid #3C6EA9;
		border-left: none;
	}
	.bx-next:hover {
		background-color: #3C6EA9;
		border: 1px solid #3C6EA9;
		border-right: none;
	}
}
.grid figcaption {
	background: #3C6EA9;
	a {
		background: #3C6EA9;
	}
}
.client-image .client-container .client-details {
	background-color: #3C6EA9;
}
.recent-posts li a {
	color: #999B9C;
	&:hover {
		color: #E1E1E1;
	}
}
.portfolio-item-footer a:hover .portfolio-details {
	background-color: #3C6EA9;
}
.po-navbar-footer .nav li a {
	color: $color_gunsmoke_approx;
	&:hover {
		color: #D9D9DA;
	}
}
.po-slider-text-static h1 {
	color: $white;
}
.slider-btn.outline-button.white-green:hover {
	color: $white;
	border: 1px solid #3C6EA9;
	background-color: #3C6EA9;
}
.search-header h1 a:hover {
	color: #3C6EA9;
}
input[type='submit']#blog-form:hover {
	color: $white;
	border: 1px solid #3C6EA9;
	background-color: #3C6EA9;
}
.po-testimonials .bx-wrapper {
	.bx-prev:hover {
		background-color: #3C6EA9;
		border: 1px solid #3C6EA9;
		border-left: none;
	}
	.bx-next:hover {
		background-color: #3C6EA9;
		border: 1px solid #3C6EA9;
		border-right: none;
	}
}
.widget ul li a:hover {
	color: #3C6EA9;
}
