//colors
$red: #f00;
$white_10: rgba(255, 255, 255, 0.1);
$white_40: rgba(255, 255, 255, 0.4);

//fonts
$font_0: FontAwesome;

.po-page-container {
	margin-bottom: 350px;
	border: 1px solid $red;
}
.footer-bottom-padding {
	padding: 25px 0 15px;
}
.footer-nav-padding {
	padding: 25px 0 0;
}
.footer-container-bottom {
	padding: 0;
	margin: 0;
	p {
		font-size: 13px;
	}
	.collapse {
		padding: 0;
		margin: 0;
	}
	.navbar-collapse {
		padding: 0;
		margin: 0;
	}
	.navbar-ex1-collapse {
		padding: 0;
		margin: 0;
	}
}
@media(max-width: 767px) {
	.footer-container h6 {
		font-size: 14px;
		margin: 0;
	}
}
@media(min-width: 768px) {
	.footer-container h6 {
		font-size: 14px;
	}
}
.recent-tweets {
	ul {
		padding-left: 0;
	}
	li {
		padding: 10px 0;
		list-style: none;
		border-bottom: 1px solid $white_10;
	}
}
.recent-posts {
	ul {
		padding-left: 0;
	}
	li {
		display: block;
		width: 100%;
		list-style: none;
		margin-top: 0;
		color: $white_40;
		border-bottom: 1px solid $white_10;
		a {
			padding: 10px 0;
			display: block;
			width: 100%;
			&:hover {
				display: block;
				width: 100%;
			}
			&:after {
				content: '\f105';
				font-family: $font_0;
				float: right;
			}
		}
		&:last-child {
			border-bottom: none;
		}
	}
}
.footer-inner-container {
	padding: 40px 0;
}
