//colors
$white: #fff;
$color_silver_chalice_approx: #aaa;
$color_mine_shaft_approx: #333;
$color_mountain_mist_approx: #999;
$color_carnation_approx: #f9635d;
$seashell: #f1f1f1;
$color_alto_approx: #ddd;
$color_pink_swan_approx: #bbb;
$color_gallery_approx: #eeeeee;
$mercury: #e5e5e5;
$white_50: rgba(255, 255, 255, 0.5);
$color_bon_jour_approx: #e1e1e1;
$color_tapa_approx: #767676;

//@extend-elements
//original selectors
//.non-immediate-parent-container-b figcaption, .non-immediate-parent-container-b figure
%extend_1 {
	height: 100%;
	width: 100%;
	opacity: 0.8;
	top: 0;
	left: 0;
	z-index: 0;
}

//original selectors
//.blog-content.entry-content ul, .blog-content.entry-content ol
%extend_2 {
	padding: 20px 0 20px 20px;
	font-size: 17px;
	line-height: 1.7;
}

//original selectors
//.comments-reply, .comment-reply-title
%extend_3 {
	font-size: 20px;
	font-weight: 600;
	margin: 50px 0 30px;
}

//original selectors
//.blog-form input[type="text"], .blog-form input[type="email"], .blog-form textarea
%extend_4 {
	width: 100%;
	font-size: 15px;
	border: 1px solid $color_alto_approx;
	padding: 7px 10px;
	margin: 10px 0;
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 2px;
	//Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.2s ease-in-out;
}

//original selectors
//blockquote cite, blockquote small
%extend_5 {
	color: $color_mountain_mist_approx;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
}

//original selectors
//.entry-content table, .widget-area table
%extend_6 {
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
	margin-bottom: 24px;
	width: 100%;
}

//original selectors
//.blog-content.entry-content table, .comment-content table
%extend_7 {
	font-size: 14px;
	line-height: 1.2857142857;
	margin-bottom: 24px;
}

//original selectors
//.blog-content.entry-content th, .comment-content th
%extend_8 {
	font-weight: 700;
	padding: 8px;
	text-transform: uppercase;
}


@media(max-width: 767px) {
	.quote-thumb {
		padding: 30px;
	}
}
@media(min-width: 768px) {
	.quote-thumb {
		padding: 50px;
	}
}
@media(min-width: 992px) {
	.quote-thumb {
		padding: 50px 100px;
	}
}
.non-immediate-parent-container-b {
	figcaption {
		@extend %extend_1;
	}
	figure {
		@extend %extend_1;
	}
}
.bg-image-ani {
	display: none;
}
.blog-content {
	&.entry-content {
		ul {
			@extend %extend_2;
			ul {
				padding: 0 0 20px 20px;
			}
			li {
				padding: 0;
				list-style: disc;
			}
		}
		ol {
			@extend %extend_2;
			ol {
				padding: 0 0 20px 20px;
			}
		}
		img {
			margin-top: 20px;
			margin-bottom: 20px;
		}
		li {
			padding: 0;
			list-style: disc;
		}
		table {
			border: 1px solid $color_bon_jour_approx;
			@extend %extend_7;
		}
		th {
			border: 1px solid $color_bon_jour_approx;
			font-weight: normal;
			text-align: left;
			border-width: 0 1px 1px 0;
			font-weight: bold;
			@extend %extend_8;
		}
		td {
			border: 1px solid $color_bon_jour_approx;
			font-weight: normal;
			text-align: left;
			border-width: 0 1px 1px 0;
			padding: 8px;
		}
		caption {
			font-weight: normal;
			text-align: left;
		}
	}
	h1 {
		font-weight: 600;
	}
	h2 {
		font-weight: 600;
	}
	h3 {
		font-weight: 600;
	}
	h4 {
		font-weight: 600;
	}
	h5 {
		font-weight: 600;
	}
	h6 {
		font-weight: 600;
	}
	&.archive-list ul {
		padding: 20px 0 5px 20px;
		font-size: 17px;
		line-height: 1.7;
	}
}
.entry-content {
	img {
		max-width: 100%;
		height: auto;
		margin-top: 20px;
		&.size-full {
			height: auto;
			max-width: 100%;
		}
		&.size-large {
			height: auto;
			max-width: 100%;
		}
	}
	iframe {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	table {
		@extend %extend_6;
	}
	del {
		color: $color_mountain_mist_approx;
	}
	hr {
		background-color: $color_bon_jour_approx;
		border: 0;
		height: 1px;
		margin-bottom: 23px;
	}
	.wp-post-image {
		height: auto;
		max-width: 100%;
	}
	.alignnone {
		height: auto;
		max-width: 100%;
	}
	ol li {
		list-style: decimal;
		padding: 5px 0;
		font-size: 15px;
	}
	ul li {
		padding: 5px 0;
		list-style: disc;
		font-size: 15px;
	}
	.post-thumbnail img {
		height: auto;
		max-width: 100%;
	}
}
.post-meta {
	font-size: 14px;
	color: $color_mountain_mist_approx;
	float: left;
	margin: 20px 20px 0 0;
	a {
		color: $color_mountain_mist_approx;
	}
}
.edit-link {
	margin: 15px 0 0;
	a {
		color: $color_mountain_mist_approx;
	}
}
.comments-title {
	font-size: 20px;
	font-weight: 600;
	margin: 50px 0 10px;
}
.comment-list {
	list-style: none;
	padding: 0;
	li {
		list-style: none;
		padding: 40px 0 10px;
		border-bottom: 1px solid $seashell;
		&:last-child {
			border-bottom: none;
		}
	}
}
.comments-author {
	font-size: 17px;
	font-weight: 600;
	margin: 3px 0 5px;
}
.comment-metadata {
	font-size: 13px;
	color: $color_mountain_mist_approx;
	a {
		color: $color_mountain_mist_approx;
	}
}
.reply {
	font-size: 13px;
	margin-left: 15px;
	a {
		color: $color_mountain_mist_approx;
	}
}
.comment-content {
	font-size: 17px;
	margin: 20px 0;
	td {
		padding: 8px;
	}
	table {
		@extend %extend_7;
	}
	th {
		@extend %extend_8;
	}
}
.comments-reply {
	@extend %extend_3;
}
.comment-reply-title {
	@extend %extend_3;
}
.blog-form {
	input[type="text"] {
		@extend %extend_4;
	}
	input[type="email"] {
		@extend %extend_4;
	}
	textarea {
		@extend %extend_4;
	}
}
.comment-awaiting-moderation {
	color: #F9635D;
	margin: 29px 0 0;
}
.archive-header {
	font-size: 18px;
	font-weight: 600;
	margin-top: 30px;
}
.archive-list {
	padding-left: 22px;
	font-size: 18px;
	li {
		list-style: disc;
		padding: 2px 0;
	}
}
blockquote {
	padding: 0 30px;
	margin: 40px 0 40px 30px;
	border-left: 5px solid $color_gallery_approx;
	p {
		font-size: 17px;
		line-height: 1.7;
		font-weight: 500;
	}
	cite {
		@extend %extend_5;
	}
	small {
		@extend %extend_5;
	}
	&.alignleft {
		margin: 7px 24px 7px 0;
	}
	&.alignright {
		margin: 7px 0 7px 24px;
	}
	&.aligncenter {
		margin-top: 7px;
		margin-bottom: 7px;
	}
}
.sticky {
	border: 5px solid $mercury;
}
.link-thumb {
	h1 {
		color: $white;
		padding-bottom: 30px;
	}
	p {
		color: $white_50;
		font-size: 16px;
	}
	span {
		vertical-align: middle;
		display: table-cell;
	}
}
pre {
	border: none;
	padding: 30px;
	margin: 40px 0;
	line-height: 2;
}
dt {
	margin: 20px 0 2px;
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
figure.wp-caption {
	&.alignleft {
		margin: 7px 24px 7px 0;
	}
	&.alignright {
		margin: 7px 0 7px 24px;
	}
}
img {
	&.alignleft {
		margin: 7px 24px 7px 0;
	}
	&.alignright {
		margin: 7px 0 7px 24px;
	}
	&.aligncenter {
		margin-top: 7px;
		margin-bottom: 7px;
	}
}
.wp-caption {
	color: $color_tapa_approx;
	&.alignleft {
		margin: 7px 14px 7px 0;
	}
	&.alignright {
		margin: 7px 0 7px 14px;
	}
	&.aligncenter {
		margin-top: 7px;
		margin-bottom: 7px;
	}
	img[class*="wp-image-"] {
		display: block;
		margin-bottom: 0;
	}
}
.wp-caption-text {
	//Instead of the line below you could use @includebox-sizing($bs)
	box-sizing: border-box;
	font-size: 12px;
	font-style: italic;
	line-height: 1.5;
	margin: 9px 0 20px;
}
.wp-smiley {
	border: 0;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.blog-header .entry-title a {
	color: $color_mine_shaft_approx;
}
.more-link:hover {
	color: $color_mine_shaft_approx;
}
.post-love a:hover {
	color: #F9635D;
}
input[type="submit"]#blog-form {
	font-size: 15px;
	letter-spacing: 1px;
	font-weight: 600;
	text-align: center;
	cursor: pointer;
	text-transform: uppercase;
	background-color: transparent;
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 2px;
	//Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.3s ease-in-out;
	color: $color_pink_swan_approx;
	border: 1px solid $color_alto_approx;
	padding: 10px 15px;
	margin: 10px 0 0;
}
.blog-content-link a {
	display: none;
}
.quote-thumb p {
	color: $white_50;
	font-size: 16px;
}
.widget-area table {
	@extend %extend_6;
}
div.wp-caption .wp-caption-text {
	padding-right: 10px;
}
div.wp-caption.alignright {
	img[class*="wp-image-"] {
		padding-left: 10px;
		padding-right: 0;
	}
	.wp-caption-text {
		padding-left: 10px;
		padding-right: 0;
	}
}
.full-width .post-thumbnail img {
	display: block;
	margin: 0 auto;
}
.attachment .site-content .attachment img {
	display: block;
	margin: 0 auto;
}
