@import 'variables-mideaquery';
@import 'variables-colors';

.base-section-partial {
  padding-top: 80px;
  padding-bottom: 80px;
}

.masthead-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background: url("../images/about.jpg");
  box-shadow: inset 0 0 1000px 500px rgba($fineblue, 0.6);
  .greetings {
    font-size: 1.25em;
    color: white;
  }
  .sign {
    height: 80px;
  }
  .name.lng-ko {
    padding-left: 30px;
    letter-spacing: 0.8em;
    font-weight: 900;
  }
  .name.lng-en {
    padding-left: 30px;
    font-weight: 900;
  }
}

.history-section {
  @extend .base-section-partial;
  .header-line {
    border-color: silver;
  }
}

.certification-section {
  @extend .base-section-partial;
  background-color: gainsboro;
  .description {
    padding-top: 1.5em;
    padding-bottom: 3em;
    font-size: 1.2em;
  }
}

.ourpartners-section {
  padding-top: 70px;
  padding-bottom: 100px;
  background: url("../images/our-partners.jpg");
  box-shadow: inset 0 0 1000px 500px rgba($fineblue, 0.5);
  color: white;
  .client-image {
    padding: 0px;
  }
  .client-wrapper {
    display: block;
    position: relative;
    &:hover {
      .ani-hover {
        opacity: 0;
      }
    }
    .ani-hover {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      transition-property: background-color;
      transition-duration: .4s;
      background-color: $fineblue;
      opacity: .2;
      transition: all .2s ease-in-out;
    }
  }
  .client-logo-wrapper {
    @media #{$phones} {
      height: 220px;
    }
    @media #{$tablets} {
      height: 130px;
    }
    @media #{$desktops} {
      height: 150px;
    }
  }
}

@import 'vendor-lightbox';
