@import 'variables-mideaquery';

/* typographic
-----------------------------------------------------*/
@media #{$tablets} {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Source Sans Pro', nanumgothic, sans-serif;
  }

body,
  p,
  button,
  input {
    font-family: 'Source Sans Pro', nanumgothic, sans-serif;
  }
}


/* 모바일 일때 나눔고딕을 로딩 하지 않음 */
@media #{$phones} {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Source Sans Pro', sans-serif;
  }

body,
  p,
  button,
  input {
    font-family: 'Source Sans Pro', sans-serif;
  }
}


/* nav bar padding
-----------------------------------------------------*/
body {
  padding-top: 50px;
}


/* utility
-----------------------------------------------------*/
.text-center-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


/* heading line
-----------------------------------------------------*/
.header-line {
  width: 90px;
  padding: 0;
  margin: 40px auto 30px;
  border-top: 1px solid rgba(255, 255, 255, .3);
}

.header-line-left {
  width: 90px;
  margin-top: 35px;
  padding-bottom: 15px;
  border-top: 1px solid rgba(255,255,255, .3);
}


/* background images
-----------------------------------------------------*/
@media #{$phones} {
  .background-image-fixed {
    background-attachment: relative !important;
    background-size: cover !important;
    background-position: center center;
  }
}

@media #{$tablets} {
  .background-image-fixed {
    background-attachment: relative !important;
    background-size: cover !important;
    background-position: center center;
  }
}

@media #{$desktops} {
  .background-image-fixed {
    background-attachment: fixed !important;
    background-size: cover !important;
    background-position: center center;
  }
}

@import 'includes-nav';

// @import 'includes-contact';
@import 'includes-footer';
