@import 'variables-mideaquery';
@import 'variables-colors';

.base-section-partial {
  padding-top: 130px;
  padding-bottom: 130px;
  font-size: 1.3em;
  color: black;
}

// .massproduct-section {
//   @extend .base-section-partial;
//   background: url("../images/business-01.jpg");
//   box-shadow: inset 0 0 1000px 500px rgba(60, 110, 169, 0.2);
// }
//
// .recycling-section {
//   @extend .base-section-partial;
//   background: url("../images/business-02.jpg");
//   box-shadow: inset 0 0 1000px 500px rgba(60, 110, 169, 0.4);
// }
//
// .rnd-section {
//   @extend .base-section-partial;
//   background: url("../images/business-03.jpg");
//   // box-shadow: inset 0 0 1000px 500px rgba(60, 110, 169, 0.2);
//   box-shadow: rgba(0, 0, 0, 0.4) 0 0 1000px 500px inset;
// }

.company-description-section {
  @extend .base-section-partial;
  .icon-box {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    border: 1px;
    border-style: solid;
    border-color: $fineblue;
    color: $fineblue;
  }
  .title {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .header-line {
    border-color: $fineblue;
    margin: 30px auto 30px;
  }
  .description {
    font-size: 1.1em;
    line-height: 1.5em;
  }
}

.ourbiz-section{
  @extend .base-section-partial;
  .header-line {
    border-color: silver;
  }
  .business-item {
    padding: 0;
    .link {
      display: block;
      padding-bottom: 80px;
      position: relative;
      cursor: url(../images/cross.png) 38 38, default;
      &:hover {
        background-color: #3C6EA9;
      }
      .item-image-wrapper {
        height: 230px;
      }
      .item-description {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        transition-property: background-color;
        transition-duration: .2s;
        &:hover {
          background-color: #3C6EA9;

          .outer-wrapper .inner-wrapper .title,
          .outer-wrapper .inner-wrapper .description {
            color: white;
          }
        }
          .outer-wrapper {
            position: absolute;
            bottom: 0;
            height: 82px;
            display: table;
            width: 100%;
          .inner-wrapper {
            display: table-cell;
            vertical-align: middle;
            .title {
              text-transform: uppercase;
              font-weight: 700;
              color: #333;
            }
            .description {
              font-size: 1em;
              color: #666;
              margin-top: 6px;
            }
          }
        }
      }
    }
  }
}
