/*
Styles for older IE versions (previous to IE9).
*/

img, img.img-responsive {
  max-width: 100% !important; /* Set a maxium relative to the parent */
  width: auto\9 !important; /* IE7-8 need help adjusting responsive images */
  height: auto; /* Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  display: block;
  -ms-interpolation-mode: bicubic;
}

.container {
  display: table;
  width: 100%;
}
.row {
  height: 100%;
  display: table-row;
}
.col-sm-4 {
  display: table-cell;
}

.po-navbar li a {
  color: #999;
}
.client-image .client-container .client-details {
  background: none;
}
.btn-icon,
.btn-icon-left {
  display: none;
}
.po-column img,
.column-content img {
  width: auto
}
.slider-btn {
  width: 40%;
}
.po-carousel-ie li {
  width: auto
}
.po-carouseleds .bx-wrapper .bx-controls-direction {
  margin-top: -169px;
}
