.logo-section {
  background-color: lightgrey;
  padding-top: 30px;
  padding-bottom: 30px;

  .logo {
    width: 300px
  }
}

.legal-section {
  background-color: silver;
  padding-top: 15px;
  padding-bottom: 15px;
}
