@import 'variables-mideaquery';
@import 'variables-colors';

.background-partial {
  background-attachment: relative;
  background-size: cover;
  background-position: center center;
  box-shadow: inset 0 0 1000px 500px rgba($fineblue, 0.6);
}

.title-partial {
  .title {
    color: white;
    .title-first {
      font-weight: normal;
    }
    .title-first.lng-ko {
      font-size: .7em;
    }
    .title-second {
      font-weight: normal;
    }
    .title-second.lng-en {
      font-size: .7em;
    }
  }
}

.logo-fixed {
  position: fixed;
}

.fineeco-section {
  @extend .background-partial;
  background-image: url("../images/slide-background-01.jpg");
  @extend .title-partial;
}

.chippoly-section {
  @extend .background-partial;
  background-image: url("../images/slide-background-02.jpg");
  @extend .title-partial;
}

.valuechain-section {
  @extend .background-partial;
  background-image: url("../images/slide-background-03.jpg");
  @extend .title-partial;
}
