@import 'variables-mideaquery';
@import 'variables-colors';

.background-partial {
  background-attachment: relative;
  background-size: cover;
  background-position: center center;
  box-shadow: inset 0 0 1000px 500px rgba($fineblue, 0.6);
}

.logo-fixed {
  position: fixed;
}

.fineeco-section {
  @extend .background-partial;
  background-image: url("../images/slide-background-01.jpg");
  .title {
    color: white;
  }
}

.chippoly-section {
  @extend .background-partial;
  background-image: url("../images/slide-background-02.jpg");
  .title {
    color: white;
  }
    // .title-first.lng-en {
    //
    // }
    // .title-first.lng-kr {
    //
    // }
}

.valuechain-section {
  @extend .background-partial;
  background-image: url("../images/slide-background-03.jpg");
  .title {
    color: white;
  }
}
