@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css) (min-width: 768px);
/* 나눔 고딕 폰트 임포트. @import는 항상 최상단에 있어야 함으로 주석을 뒤에 붙였음 */

/* custom-style.css에서 정의된 폰트 패밀리에 나눔고딕 추가
-----------------------------------------------------*/
@media (min-width: 768px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Source Sans Pro', nanumgothic, sans-serif;
  }
  body,
  p,
  button,
  input {
    font-family: 'Source Sans Pro', nanumgothic, sans-serif;
  }
}

/* 모바일 일때 나눔고딕을 로딩 하지 않음 */
@media (max-width: 767px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Source Sans Pro', sans-serif;
  }
  body,
  p,
  button,
  input {
    font-family: 'Source Sans Pro', sans-serif;
  }
}

/* 상단 슬라이드
-----------------------------------------------------*/
.po-slider-text h1 {
  color: white;
}

.background-greyscale.white {
  background-color: silver;
}
