/* nibiru-custom.css에서 정의된 폰트 패밀리에 나눔고딕 추가
-----------------------------------------------------*/
@media (min-width: 768px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Source Sans Pro', nanumgothic, sans-serif;
  }
  body,
  p,
  button,
  input {
    font-family: 'Source Sans Pro', nanumgothic, sans-serif;
  }
}

/* 모바일 일때 나눔고딕을 로딩 하지 않음 */
@media (max-width: 767px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Source Sans Pro', sans-serif;
  }
  body,
  p,
  button,
  input {
    font-family: 'Source Sans Pro', sans-serif;
  }
}

.text-center-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* heading line
-----------------------------------------------------*/
.header-line {
  margin: 0 auto;
  width: 90px;
  padding: 0;
  margin: 40px auto 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.header-line-left {
  width: 90px;
  margin-top: 35px;
  padding-bottom: 15px;
  border-top: 1px solid rgba(255,255,255,.3);
}
// @media (max-width: 767px) {
//   .header-line, {
//     width: 90px;
//     padding: 0;
//     margin: 40px auto 30px;
//     border-top: 1px solid rgba(255, 255, 255, 0.3);
//   }
// }
// @media (min-width: 768px) {
//   .header-line {
//     width: 90px;
//     margin-top: 35px;
//     padding-bottom: 15px;
//     border-top: 1px solid rgba(255, 255, 255, 0.3);
//   }
// }
// @media (min-width: 992px) {
//   .header-line {
//     width: 90px;
//     margin-top: 35px;
//     padding-bottom: 15px;
//     border-top: 1px solid rgba(255, 255, 255, 0.3);
//   }
// }

/* 상단 슬라이드
-----------------------------------------------------*/
@media (max-width: 767px) {
  header {
    height: 350px;
  }
}
@media (min-width: 768px) {
  header {
    height: 500px;
  }
}
@media (min-width: 992px) {
  header {
    height: 700px;
  }
}

.po-slider-text h1 {
  color: white;
}

.background-greyscale.white {
  background-color: rgba(60, 110, 169, 1);
}

.entry-content iframe.googlemap {
  margin: 0;
}


.client-image .client-container .client-details {
  background-color: rgba(60, 110, 169, 0.3);
}

@media (max-width: 767px) {
  .background-image-fixed,
  .background-image-parallax {
    background-attachment: relative !important;
    background-size: cover !important;
  }
}

@media (min-width: 768px) {
  .background-image-fixed,
  .background-image-parallax {
    background-attachment: relative !important;
    background-size: cover !important;
  }
}

@media (min-width: 992px) {
  .background-image-fixed,
  .background-image-parallax {
    background-attachment: fixed !important;
    background-size: cover !important;
  }
}

@import 'includes-contact';
@import 'includes-footer';
