/* nibiru-custom.css에서 정의된 폰트 패밀리에 나눔고딕 추가
-----------------------------------------------------*/
@media (min-width: 768px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Source Sans Pro', nanumgothic, sans-serif;
  }
  body,
  p,
  button,
  input {
    font-family: 'Source Sans Pro', nanumgothic, sans-serif;
  }
}

/* 모바일 일때 나눔고딕을 로딩 하지 않음 */
@media (max-width: 767px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Source Sans Pro', sans-serif;
  }
  body,
  p,
  button,
  input {
    font-family: 'Source Sans Pro', sans-serif;
  }
}

/* 상단 슬라이드
-----------------------------------------------------*/
@media (max-width: 767px) {
  header {
    height: 350px;
  }
}
@media (min-width: 768px) {
  header {
    height: 500px;
  }
}
@media (min-width: 992px) {
  header {
    height: 700px;
  }
}

.po-slider-text h1 {
  color: white;
}

.background-greyscale.white {
  background-color: rgba(60, 110, 169, 1);
}

/* Our Business
-----------------------------------------------------*/
.section-image-bg-ourbiz {
  padding-top: 80px;
  padding-bottom: 100px;
  background: url("../images/our-business.jpg");
  box-shadow: inset 0 0 1000px 500px rgba(60, 110, 169, 0.5);
}

/* Our Products
-----------------------------------------------------*/
.section-image-bg-ourproducts {
  padding-top: 80px;
  padding-bottom: 100px;
  background: url("../images/our-products.jpg");
  box-shadow: inset 0 0 1000px 500px rgba(60, 110, 169, 0.5);
}

/* Our Partner
-----------------------------------------------------*/
.section-image-bg-ourpartner {
  padding-top: 70px;
  padding-bottom: 100px;
  background: url("../images/our-partners.jpg");
  box-shadow: inset 0 0 1000px 500px rgba(60, 110, 169, 0.5);
}

.entry-content iframe.googlemap {
  margin: 0;
}

/* Overview
-----------------------------------------------------*/
.section-image-bg-about {
  padding-top: 70px;
  padding-bottom: 100px;
  background: url("../images/about.jpg");
  height: 800px;
  box-shadow: inset 0 0 1000px 500px rgba(60, 110, 169, 0.4);
}

.videobg {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url("images/about.jpg") no-repeat;
  background-size: cover;
}

/* Contact
-----------------------------------------------------*/
.section-image-contact {
  padding-top: 100px;
  padding-bottom: 100px;
  background: url("../images/contact.jpg");
  box-shadow: inset 0 0 1000px 500px rgba(60, 110, 169, 0.4);
}

@media (max-width: 767px) {
  .section-background-image-fixed,
  .section-background-image-parallax {
    background-attachment: relative !important;
    background-size: cover !important;
  }
}

@media (min-width: 768px) {
  .section-background-image-fixed,
  .section-background-image-parallax {
    background-attachment: relative !important;
    background-size: cover !important;
  }
}

@media (min-width: 992px) {
  .section-background-image-fixed,
  .section-background-image-parallax {
    background-attachment: fixed !important;
    background-size: cover !important;
  }
}

/* About
-----------------------------------------------------*/
.sign {
  font-size: 1.1em;
  letter-spacing: 1em;
  text-align: right;
}

.name {
  font-size: 1.11em;
  letter-spacing: 0.8em;
  font-weight: 900;
}

.section-image-bg-polychip {
  background-image: url("../images/product.jpg");
  padding-top: 200px;
  padding-bottom: 200px;
}

.section-image-bg-polychip .intro-title {
  color: white;
  text-align: center;
}

.section-image-bg-polychip .intro-title > .main {
  text-transform: uppercase;
  letter-spacing: -3px;
  padding-top: 10%;
  font-weight: 900;
  font-size: 9em;
  text-shadow: 0 1px 0 hsl(174,5%,80%), 0 2px 0 hsl(174,5%,75%), 0 3px 0 hsl(174,5%,70%), 0 4px 0 hsl(174,5%,66%), 0 5px 0 hsl(174,5%,64%), 0 6px 0 hsl(174,5%,62%), 0 7px 0 hsl(174,5%,61%), 0 8px 0 hsl(174,5%,60%), 0 0 5px rgba(0,0,0,.09), 0 1px 3px rgba(0,0,0,.2), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.2), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.9);
}

.section-image-bg-polychip .intro-title > .sub {
  font-weight: 600;
  color: rgba(255,255,255,.5);
}

.description {
  padding-top: 100px;
  padding-bottom: 80px;
  background-color: #3c6ea9;
  color: #fff;
  font-size: 1.2em;
}

.sizes-bg::before {
  background-size: 150px 150px;
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  z-index: -1;
}

.sizes-bg-2to10::before {
  background-image: url("../images/product-2to10.jpg");
}

.sizes-bg-5to10::before {
  background-image: url("../images/product-5to10.jpg");
}

.sizes-bg-10to20::before {
  background-image: url("../images/product-10to20.jpg");
}

.sizes-bg-20to30::before {
  background-image: url("../images/product-20to30.jpg");
}

.section-image-bg-sizes-description{
  padding-top: 200px;
  padding-bottom: 200px;
  background: url("../images/sizes-description.jpg");
  box-shadow: inset 0 0 1000px 500px rgba(60, 110, 169, 0.5);
  font-size: 1.5em;
}
