/* #headers
--------------------------------------------------*/

@media (max-width: 767px) {
  .po-column.po-header {
    padding: 30px;
    opacity: 0;
  }
}
@media (min-width: 768px) {
  .po-column.po-header {
    padding: 25px 15px;
    opacity: 0;
  }
}
@media (min-width: 992px) {
  .po-column.po-header {
    padding-top: 0px;
    padding-bottom: 0px;
    opacity: 0;
  }
}
@media (min-width: 992px) {
  .po-column.po-header-top {
    padding-top: 0px;
    padding-bottom: 0px;
    opacity: 0;
  }
}
@media (min-width: 992px) {
  .po-column.po-header-line {
    padding-top: 18px;
    padding-bottom: 20px;
    opacity: 0;
  }
}
@media (min-width: 992px) {
  .po-column.po-header-line-thin {
    padding-top: 5px;
    padding-bottom: 20px;
    opacity: 0;
  }
}
.po-column.po-header-small {
  padding-top: 0px;
  padding-bottom: 0px;
  opacity: 0;
}
@media (min-width: 992px) {
  .po-column.po-header-single {
    padding-top: 30px;
    padding-bottom: 30px;
    opacity: 0;
  }
}
@media (max-width: 767px) {
  .header-large {
    font-weight: 300;
    font-size: 27px;
    line-height: 1.2;
  }
}
@media (min-width: 768px) {
  .header-large {
    font-weight: 300;
    font-size: 35px;
    line-height: 1.2;
  }
}
@media (min-width: 992px) {
  .header-large {
    font-weight: 300;
    font-size: 45px;
    line-height: 1.2;
  }
}
.header-small {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  margin: 0;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .section-background-dark .header-line,
  .section-background-dark .header-line-left,
  .section-background-image .header-line,
  .section-background-image .header-line-left,
  .section-background-image-fixed .header-line,
  .section-background-image-fixed .header-line-left,
  .section-background-image-parallax .header-line,
  .section-background-image-parallax .header-line-left,
  .section-background-image-video .header-line,
  .section-background-image-video .header-line-left,
  .section-background-dark po-header .header-line,
  .section-background-dark po-header .header-line-left,
  .section-background-custom-white .header-line,
  .section-background-custom-white .header-line-left {
    width: 90px;
    padding: 0;
    margin: 40px auto 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }
}
@media (min-width: 768px) {
  .section-background-dark .header-line,
  .section-background-dark .header-line-left,
  .section-background-image .header-line,
  .section-background-image .header-line-left,
  .section-background-image-fixed .header-line,
  .section-background-image-fixed .header-line-left,
  .section-background-image-parallax .header-line,
  .section-background-image-parallax .header-line-left,
  .section-background-image-video .header-line,
  .section-background-image-video .header-line-left,
  .section-background-dark po-header .header-line,
  .section-background-dark po-header .header-line-left,
  .section-background-custom-white .header-line,
  .section-background-custom-white .header-line-left {
    width: 90px;
    margin-top: 35px;
    padding-bottom: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }
}
@media (min-width: 992px) {
  .section-background-dark .header-line,
  .section-background-dark .header-line-left,
  .section-background-image .header-line,
  .section-background-image .header-line-left,
  .section-background-image-fixed .header-line,
  .section-background-image-fixed .header-line-left,
  .section-background-image-parallax .header-line,
  .section-background-image-parallax .header-line-left,
  .section-background-image-video .header-line,
  .section-background-image-video .header-line-left,
  .section-background-dark po-header .header-line,
  .section-background-dark po-header .header-line-left,
  .section-background-custom-white .header-line,
  .section-background-custom-white .header-line-left {
    width: 90px;
    margin-top: 35px;
    padding-bottom: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }
}
@media (max-width: 767px) {
  .section-background-custom-dark .header-line,
  .section-background-custom-dark .header-line-left {
    width: 90px;
    margin-top: 35px;
    padding-bottom: 25px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
}
@media (min-width: 768px) {
  .section-background-custom-dark .header-line,
  .section-background-custom-dark .header-line-left {
    width: 90px;
    margin-top: 35px;
    padding-bottom: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
}
@media (min-width: 992px) {
  .section-background-custom-dark .header-line,
  .section-background-custom-dark .header-line-left {
    width: 90px;
    margin-top: 35px;
    padding-bottom: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
}
@media (max-width: 767px) {
  .section-background-white .header-line,
  .section-background-white .header-line-left,
  .section-background-light .header-line,
  .section-background-light .header-line-left {
    width: 90px;
    margin-top: 35px;
    padding-bottom: 25px;
    border-top: 1px solid #e1e1e1;
  }
}
@media (min-width: 768px) {
  .section-background-white .header-line,
  .section-background-white .header-line-left,
  .section-background-light .header-line,
  .section-background-light .header-line-left {
    width: 90px;
    margin-top: 35px;
    padding-bottom: 15px;
    border-top: 1px solid #e1e1e1;
  }
}
@media (min-width: 992px) {
  .section-background-white .header-line,
  .section-background-white .header-line-left,
  .section-background-light .header-line,
  .section-background-light .header-line-left {
    width: 90px;
    margin-top: 35px;
    padding-bottom: 15px;
    border-top: 1px solid #e1e1e1;
  }
}
.header-line {
  margin: 0 auto;
}
