/* #animations
--------------------------------------------------*/
/* Float
-----------------------------------------------------------------------------------*/

.po-floating {
  animation-name: po-floating;
  -webkit-animation-name: po-floating;
  animation-duration: 3.5s;
  -webkit-animation-duration: 3.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@keyframes po-floating {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(12%);
  }
  100% {
    transform: translateY(0%);
  }
}
/* Bounce In
-----------------------------------------------------------------------------------*/

.po-bounce-in {
  -o-animation: po-bounce-in 0.4s ease-out backwards;
  animation: po-bounce-in 0.4s ease-out backwards;
}
@-o-keyframes po-bounce-in {
  0% {
    opacity: 0;
    transform: scale3d(0.5, 0.5, 1);
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
@keyframes po-bounce-in {
  0% {
    opacity: 0;
    transform: scale3d(0.5, 0.5, 1);
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
/* Fade In Slow
-----------------------------------------------------------------------------------*/

.po-fade-in {
  -o-animation: po-fade-in 2.5s ease-out backwards;
  animation: po-fade-in 2.5s ease-out backwards;
}
@-o-keyframes po-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes po-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Expand
-----------------------------------------------------------------------------------*/

@media (min-width: 768px) {
  .hover-ani:hover .icon-box-side,
  .hover-ani:hover .icon-box,
  .hover-ani:hover .icon-box-side,
  .hover-ani:hover .icon-boxless,
  .hover-ani:hover .icon-box-left,
  .hover-ani:hover .icon-float,
  .hover-ani:hover .po-icon-title,
  .hover-ani:hover .po-icon,
  .hover-ani:hover .icon-circular {
    -o-animation: po-expand 0.4s ease-out forwards;
    animation: po-expand 0.4s ease-out forwards;
  }
}
@-o-keyframes po-expand {
  0% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes po-bounce-in {
  0% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
/* Expand Line
-----------------------------------------------------------------------------------*/

@media (min-width: 768px) {
  .hover-ani:hover .icon-box-line,
  .hover-ani:hover .count-line,
  .hover-ani:hover .circular-line {
    -o-animation: po-expand-line 0.5s ease-out forwards;
    animation: po-expand-line 0.5s ease-out forwards;
  }
}
@media (max-width: 767px) {
  @-o-keyframes po-expand-line {
    0% {
      width: 20%;
    }
    50% {
      width: 40%;
    }
    100% {
      width: 30%;
    }
  }
  @keyframes po-expand-line {
    0% {
      width: 20%;
    }
    50% {
      width: 40%;
    }
    100% {
      width: 30%;
    }
  }
}
@media (min-width: 768px) {
  @-o-keyframes po-expand-line {
    0% {
      width: 50%;
    }
    50% {
      width: 80%;
    }
    100% {
      width: 70%;
    }
  }
  @keyframes po-expand-line {
    0% {
      width: 50%;
    }
    50% {
      width: 80%;
    }
    100% {
      width: 70%;
    }
  }
}
/* COLUMN ANIMATIONS
-----------------------------------------------------------------------------------*/
/* Fade In
-----------------------------------------------------------------------------------*/

.fade-in {
  animation: fadeIn 0.65s ease forwards;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
/* Move Up
-----------------------------------------------------------------------------------*/

.move-up {
  transform: translateY(50px);
  animation: moveUp 0.65s ease forwards;
}
@keyframes moveUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/* Move Up Short
-----------------------------------------------------------------------------------*/

.move-up-short {
  transform: translateY(15px);
  animation: moveUp 0.85s ease forwards;
}
@keyframes moveUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/* Move Down
-----------------------------------------------------------------------------------*/

.move-down {
  transform: translateY(-50px);
  animation: moveDown 0.65s ease forwards;
}
@keyframes moveDown {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/* Move Left
-----------------------------------------------------------------------------------*/

.move-left {
  transform: translateX(50px);
  animation: moveLeft 0.65s ease forwards;
}
@keyframes moveLeft {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
/* Move Right
-----------------------------------------------------------------------------------*/

.move-right {
  transform: translateX(-50px);
  animation: moveRIght 0.65s ease forwards;
}
@keyframes moveRIght {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
/* Bounce In
-----------------------------------------------------------------------------------*/

.bounce-in {
  -o-animation: bounce-in 0.5s ease-out forwards;
  animation: bounce-in 0.5s ease-out forwards;
}
@-o-keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale3d(0.5, 0.5, 1);
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale3d(0.5, 0.5, 1);
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
/* Rotate In
-----------------------------------------------------------------------------------*/

.rotate-in {
  -o-animation: rotateIn 0.5s ease-out forwards;
  animation: rotateIn 0.5s ease-out forwards;
}
@keyframes rotateIn {
  0% {
    transform-origin: center center;
    transform: rotate(-200deg);
    opacity: 0;
  }
  100% {
    transform-origin: center center;
    transform: rotate(0);
    opacity: 1;
  }
}
/* Roll In
-----------------------------------------------------------------------------------*/

.roll-in {
  -o-animation: rollIn 0.6s ease-out forwards;
  animation: rollIn 0.6s ease-out forwards;
}
@keyframes rollIn {
  0% {
    opacity: 0;
    transform: translateX(-100%) rotate(-120deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
  }
}
/*
==============================================
pullUp
==============================================
*/

.pull-up {
  animation-name: pullUp;
  -webkit-animation-name: pullUp;
  animation-duration: 0.6s;
  -webkit-animation-duration: 0.6s;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
@keyframes pullUp {
  0% {
    opacity: 0;
    transform: scaleY(0.1);
  }
  40% {
    opacity: 1;
    transform: scaleY(1.02);
  }
  60% {
    opacity: 1;
    transform: scaleY(0.98);
  }
  80% {
    opacity: 1;
    transform: scaleY(1.01);
  }
  100% {
    opacity: 1;
    transform: scaleY(0.98);
  }
  80% {
    opacity: 1;
    transform: scaleY(1.01);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
