{% extends "layouts/base.html" %}
{% set active_page = "about" %}

{% block pageStyle %}
  <!-- build:css styles/about.css -->
  <link rel="stylesheet" href="/bower_components/ekko-lightbox/dist/ekko-lightbox.css" />
  <link rel="stylesheet" href="styles/about.css">
  <!-- endbuild -->
{% endblock %}

{% block contents %}

  {% include "includes/nav.html" %}
  <article>

    <!-- 회사 일반 안내 -->
    <section class="background-image-fixed masthead-section">
      <div class="container">
        <div class="row">

          <div class="col-md-7 col-md-offset-5 col-sm-12 greetings wow fadeInRight" data-wow-delay="0.2s">

            <img class="center-block" alt="fineeco logo" src="images/logo-fineeco-slogan-white.svg" width="350">
            <div class="header-line"></div>

            <p data-i18n="masthead.letter.paragraph.0"></p>
            <p data-i18n="masthead.letter.paragraph.1"></p>
            <p data-i18n="masthead.letter.paragraph.2"></p>
            <p data-i18n="masthead.letter.paragraph.3"></p>
            <p data-i18n="masthead.letter.thanks"></p>
            <p class="text-right sign">
              <span data-i18n="masthead.letter.role"></span>
              <span class="name" data-i18n="masthead.letter.name"></span>
              <img class="sign" src="images/sign-thick-white.png" alt="sign baik">
            </p>

          </div>
        </div>
      </div>
    </section>

    <section class="history-section">
      <div class="container">
        <div class="row">

          <div class="col-sm-12 wow fadeIn">
            <h3 class="text-center">History</h3>
            <div class="header-line"></div>
          </div>

          <div class="col-sm-8 col-sm-offset-2 wow fadeIn">
            <table class="table table-hover">
              <caption class="sr-only" data-i18n="history.tableName"></caption>
              <thead>
                <tr>
                  <th class="sr-only" data-i18n="history.order"></th>
                  <th data-i18n="history.date"></th>
                  <th data-i18n="history.contents"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td><time>2009.05.01</time></td>
                  <td data-i18n="history.1"></td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td><time>2010.01.01</time></td>
                  <td data-i18n="history.2"></td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td><time>2010.12.10</time></td>
                  <td data-i18n="history.3"></td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td><time>2011.05.15</time></td>
                  <td data-i18n="history.4"></td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td><time>2011.11.30</time></td>
                  <td data-i18n="history.5"></td>
                </tr>
                <tr>
                  <th scope="row">6</th>
                  <td><time>2012.10.10</time></td>
                  <td data-i18n="history.6"></td>
                </tr>
                <tr>
                  <th scope="row">7</th>
                  <td><time>2013.01.11</time></td>
                  <td data-i18n="history.7"></td>
                </tr>
                <tr>
                  <th scope="row">8</th>
                  <td><time>2013.12.10</time></td>
                  <td data-i18n="history.8"></td>
                </tr>
                <tr>
                  <th scope="row">9</th>
                  <td><time>2014.03.03</time></td>
                  <td data-i18n="history.9"></td>
                </tr>
                <tr>
                  <th scope="row">10</th>
                  <td><time>2014.11.10</time></td>
                  <td data-i18n="history.10"></td>
                </tr>
                <tr>
                  <th scope="row">11</th>
                  <td><time>2014.12.05</time></td>
                  <td data-i18n="history.11"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

    <section class="certification-section">
      <div class="container">
        <div class="row">

          <div class="col-sm-12 wow fadeIn">
            <h3 class="text-center">Certification</h3>
            <div class="header-line"></div>
          </div>

          <div class="col-sm-4">
            <a href="images/iso14001-en.jpg" data-toggle="lightbox">
              <img class="img-responsive center-block" src="images/iso14001-en.jpg" alt="ISO 14001 Certification">
            </a>
            <p class="text-center description" data-i18n="certification.iso14001"></p>
          </div>

          <div class="col-sm-4">
            <a href="images/iso9001-en.jpg" data-toggle="lightbox">
              <img class="img-responsive center-block" src="images/iso9001-en.jpg" alt="ISO 9001 Certification">
            </a>
            <p class="text-center description" data-i18n="certification.iso9001"></p>
          </div>

          <div class="col-sm-4">
            <a href="images/lab.jpg" data-toggle="lightbox">
              <img class="img-responsive center-block" src="images/lab.jpg" alt="Lab Certification">
            </a>
            <p class="text-center description" data-i18n="certification.lab"></p>
          </div>

        </div>
      </div>
    </section>

    <!-- 파트너 -->
    <section class="background-image-fixed ourpartners-section">
      <div class="container">
        <div class="row">

          <div class="col-sm-12 wow fadeIn">
            <h3 class="text-center">Our Partners</h3>
            <div class="header-line"></div>
          </div>

          <div class="col-sm-10 col-sm-offset-1">
            <div class="row">

              <div class="client-image col-sm-3 column-3 wow fadeIn">
                <div class="client-wrapper" data-placement="top" data-toggle="tooltip" title="woongjin energy">
                  <div class="ani-hover"></div>
                  <div class="fn-liquid client-logo-wrapper">
                    <img alt="woongjin energy" class="client-logo" src="images/woongjin.png">
                  </div>
                </div>
              </div>

              <div class="client-image col-sm-3 column-3 wow fadeIn">
                <div class="client-wrapper" data-placement="top" data-toggle="tooltip" title="SKC solmics">
                  <div class="ani-hover"></div>
                  <div class="fn-liquid client-logo-wrapper">
                    <img alt="SKC solmics" class="client-logo" src="images/skc-solmics.png">
                  </div>
                </div>
              </div>

              <div class="client-image col-sm-3 column-3 wow fadeIn">
                <div class="client-wrapper" data-placement="top" data-toggle="tooltip" title="Sun Edison">
                  <div class="ani-hover"></div>
                  <div class="fn-liquid client-logo-wrapper">
                    <img alt="Sun Edison" class="client-logo" src="images/sun-edison.png">
                  </div>
                </div>
              </div>

              <div class="client-image col-sm-3 column-3 wow fadeIn">
                <div class="client-wrapper" data-placement="top" data-toggle="tooltip" title="SK hynix">
                  <div class="ani-hover"></div>
                  <div class="fn-liquid client-logo-wrapper">
                    <img alt="SK hynix" class="client-logo" src="images/sk-hynix.png">
                  </div>
                </div>
              </div>

            </div>
            <div class="row">

              <div class="client-image col-sm-3 column-3 wow fadeIn" data-wow-delay="1s">
                <div class="client-wrapper" data-placement="top" data-toggle="tooltip" title="SAMSUNG Electronics">
                  <div class="ani-hover"></div>
                  <div class="fn-liquid client-logo-wrapper">
                    <img alt="SAMSUNG Electronics" class="client-logo" src="images/samsung.png">
                  </div>
                </div>
              </div>

              <div class="client-image col-sm-3 column-3 wow fadeIn" data-wow-delay="1s">
                <div class="client-wrapper" data-placement="top" data-toggle="tooltip" title="nexolon">
                  <div class="ani-hover"></div>
                  <div class="fn-liquid client-logo-wrapper">
                    <img alt="nexolon" class="client-logo" height="447" src="images/nexolon.png" width="700">
                  </div>
                </div>
              </div>

              <div class="client-image col-sm-3 column-3 wow fadeIn" data-wow-delay="1s">
                <div class="client-wrapper" data-placement="top" data-toggle="tooltip" title="HYUNDAI HEAVEY INDUSTRIES">
                  <div class="ani-hover"></div>
                  <div class="fn-liquid client-logo-wrapper">
                    <img alt="HYUNDAI HEAVEY INDUSTRIES" class="client-logo" src="images/hyundai.png">
                  </div>
                </div>
              </div>

              <div class="client-image col-sm-3 column-3 wow fadeIn" data-wow-delay="1s">
                <div class="client-wrapper" data-placement="top" data-toggle="tooltip" title="shinsung SOLAR ENERGY">
                  <div class="ani-hover"></div>
                  <div class="fn-liquid client-logo-wrapper">
                    <img alt="shinsung SOLAR ENERGY" class="client-logo" src="images/shinsung.png">
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

  </article>

  {% include "includes/footer.html" %}

{% endblock %}

{% block pageVendorScript %}
<!-- build:js scripts/about-vendor.js -->
<script src="/bower_components/ekko-lightbox/dist/ekko-lightbox.js"></script>
<!-- endbuild -->
{% endblock %}

{% block pageScript %}
<!-- build:js scripts/about.js -->
<script src="scripts/about.js"></script>
<!-- endbuild -->
{% endblock %}
