{% extends "layouts/base.html" %}
{% set active_page = "business" %}

{% block pageStyle %}
  <!-- build:css styles/business.css -->
  <link rel="stylesheet" href="styles/business.css">
  <!-- endbuild -->
{% endblock %}

{% block contents %}

  {% include "includes/nav.html" %}

  <article>

    <section class="business-intro-section background-image-fixed ">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <img class="logo img-responsive center-block wow fadeIn" src="images/logo-fineeco-slogan-white.png" data-wow-delay="1s" alt="fineeco">
          </div>
        </div>
      </div>
    </section>

    <!-- 기업소개 : 파인에코, 칩폴리 컴퍼니, 벨류체인 엔에이블러 -->
    <section class="company-description-section">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 wow bounceIn" data-wow-duration="1s">
            <div class="center-block text-center icon-box">
              <i class="text-center-vertical fa fa-tree fa-2x"></i>
            </div>
            <h2 class="text-center title h4">FineEco</h2>
            <div class="header-line"></div>
            <p class="description" data-i18n="company.fineeco"></p>
          </div>

          <div class="col-sm-4 wow bounceIn" data-wow-delay="0.4s" data-wow-duration="1s">
            <div class="center-block text-center icon-box">
              <i class="text-center-vertical fa fa-users fa-2x"></i>
            </div>
            <h2 class="text-center title h4">Specialization in Chip Poly</h2>
            <div class="header-line"></div>
            <p class="description" data-i18n="company.chippoly"></p>
          </div>

          <div class="col-sm-4 wow bounceIn" data-wow-delay="0.8s" data-wow-duration="1s">
            <div class="center-block text-center icon-box">
              <i class="text-center-vertical fa fa-line-chart fa-2x"></i>
            </div>
            <h2 class="text-center title h4">Value Chain Enabler of Photovoltaic Industry</h2>
            <div class="header-line"></div>
            <p class="description" data-i18n="company.valuechain"></p>
          </div>
        </div>
      </div>
    </section>

    <section class="business-partner-section background-image-fixed ">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 wow fadeIn" data-wow-delay="0.4s">
            <p class="text-center">The Best Partner for Photovoltaic Industry <br>from Polysilicon to Module.</p>
            <p class="text-center brand">FineEco</p>
          </div>
        </div>
      </div>
    </section>

    <!-- 사업소개 : 잉곳 스크랩, 칩폴리 대량생산, 연구개발 -->
    <section class="ourbiz-section">
      <div class="container">
        <div class="row">

          <div class="business-item col-sm-4">
            <a class="link" href="business.html">
              <div class="fn-liquid item-image-wrapper">
                <img alt="Chip poly" class="img-responsive" src="images/our-biz-02-alt-01.jpg">
              </div>
              <div class="item-description">
                <div class="outer-wrapper">
                  <div class="inner-wrapper">
                    <h5 class="text-center title">
                      Chip Poly Production
                    </h5>
                    <p class="text-center description" data-i18n="ourbiz.chippoly"></p>
                  </div>
                </div>
              </div>
            </a>
          </div>

          <div class="business-item col-sm-4">
            <a class="link" href="business.html">
              <div class="fn-liquid item-image-wrapper">
                <img alt="Silicon wafer" class="img-responsive" src="images/our-biz-01.jpg">
              </div>
              <div class="item-description">
                <div class="outer-wrapper">
                  <div class="inner-wrapper">
                    <h5 class="text-center title">
                      Wafer Recycling
                    </h5>
                    <p class="text-center description" data-i18n="ourbiz.scrap"></p>
                  </div>
                </div>
              </div>
            </a>
          </div>

          <div class="business-item col-sm-4">
            <a class="link" href="business.html">
              <div class="fn-liquid item-image-wrapper">
                <img alt="Silicon ore and periodic table" class="img-responsive" src="images/our-biz-03.jpg">
              </div>
              <div class="item-description">
                <div class="outer-wrapper">
                  <div class="inner-wrapper">
                    <h5 class="text-center title">
                      Research & Development
                    </h5>
                    <p class="text-center description" data-i18n="ourbiz.rnd"></p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="business-outro-section background-image-fixed">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 wow fadeIn" data-wow-delay="0.4s">
            <p class="text-center">We Accelerate Photovoltaic Industry.</p>
            <p class="text-center brand">FineEco</p>
          </div>
        </div>
      </div>
    </section>

  </article>

  {% include "includes/footer.html" %}

{% endblock %}

{% block pageScript %}
<!-- build:js scripts/business.js -->
<script src="scripts/business.js"></script>
<!-- endbuild -->
{% endblock %}
