{% extends "layouts/base.html" %}


{% block pageStyle %}
  <link rel="stylesheet" href="styles/business.css">
{% endblock %}


{% block contents %}

  {% include "includes/nav.html" %}

  <article>

    <section class="background-image-parallax massproduct-section" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row">

          <div class="col-md-5 col-md-offset-0 col-sm-12 wow fadeInLeft" data-wow-delay="0.4s">
            <h3>Chip Poly Massproduct</h3>
            <!-- FIXME: .header-line-*이 모바일일때 정렬문제가 있음  -->
            <div class="header-line-left"></div>

            <p>태양광 웨이퍼 사업자를 위한 칩 폴리 대량생산</p>

          </div>
        </div>
      </div>
    </section>

    <section class="background-image-parallax recycling-section" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row">

          <div class="col-md-6 col-md-offset-6 col-sm-12 wow fadeInRight" data-wow-delay="0.4s">
            <h3>Ingot Scrap Recycling</h3>
            <!-- FIXME: .header-line-*이 모바일일때 정렬문제가 있음  -->
            <div class="header-line-left"></div>

            <p>태양광 웨이퍼 생산중 발생되는 실리콘 잉곳의 수집 및 잉곳 재생산</p>

          </div>
        </div>
      </div>
    </section>

    <section class="background-image-parallax rnd-section" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row">

          <div class="col-md-5 col-md-offset-0 col-sm-12 wow fadeInLeft" data-wow-delay="0.4s">

            <h3>Research & Development</h3>
            <!-- FIXME: .header-line-*이 모바일일때 정렬문제가 있음  -->
            <div class="header-line-left"></div>

            <p>잉곳, 웨이퍼 사업 효율화를 위한 공정, 생산, 재료, 제품의 연구 개발</p>

          </div>
        </div>
      </div>
    </section>

  </article>

  {% include "includes/footer.html" %}

{% endblock %}
