{% extends "layouts/base.html" %}


{% block pageStyle %}
  <!-- build:css styles/business-page.css -->
  <link rel="stylesheet" href="styles/business.css">
  <!-- endbuild -->
{% endblock %}


{% block contents %}

  {% include "includes/nav.html" %}

  <article>

    {# <section class="background-image-parallax massproduct-section" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row">

          <div class="col-md-5 col-md-offset-0 col-sm-12 wow fadeInLeft" data-wow-delay="0.4s">
            <h3>Chip Poly Massproduct</h3>
            <!-- FIXME: .header-line-*이 모바일일때 정렬문제가 있음  -->
            <div class="header-line-left"></div>

            <p>태양광 웨이퍼 사업자를 위한 칩 폴리 대량생산</p>

          </div>
        </div>
      </div>
    </section>

    <section class="background-image-parallax recycling-section" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row">

          <div class="col-md-6 col-md-offset-6 col-sm-12 wow fadeInRight" data-wow-delay="0.4s">
            <h3>Ingot Scrap Recycling</h3>
            <!-- FIXME: .header-line-*이 모바일일때 정렬문제가 있음  -->
            <div class="header-line-left"></div>

            <p>태양광 웨이퍼 생산중 발생되는 실리콘 잉곳의 수집 및 잉곳 재생산</p>

          </div>
        </div>
      </div>
    </section>

    <section class="background-image-parallax rnd-section" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row">

          <div class="col-md-5 col-md-offset-0 col-sm-12 wow fadeInLeft" data-wow-delay="0.4s">

            <h3>Research & Development</h3>
            <!-- FIXME: .header-line-*이 모바일일때 정렬문제가 있음  -->
            <div class="header-line-left"></div>

            <p>잉곳, 웨이퍼 사업 효율화를 위한 공정, 생산, 재료, 제품의 연구 개발</p>

          </div>
        </div>
      </div>
    </section> #}

    <!-- 기업소개 : 파인에코, 칩폴리 컴퍼니, 벨류체인 엔에이블러 -->
    <section class="company-description-section">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 wow bounceIn" data-wow-duration="1s">
            <div class="center-block text-center icon-box">
              <i class="text-center-vertical fa fa-tree fa-2x"></i>
            </div>
            <h2 class="text-center title h4">FineEco</h2>
            <div class="header-line"></div>
            <p class="text-center description">
              친환경 기업 FineEco는 깨끗하고 안전한 태양광 대중화에 기여하고 있습니다. 아울러 FineEco는 태양광 산업의 생산성과 효율을 높여 우리 세대 더 많은 사람들에게 친환경 에너지를 제공할 뿐 아니라 다음 세대를 위한 Fine Ecology의 초석이 되고자 합니다.
            </p>
          </div>

          <div class="col-sm-4 wow bounceIn" data-wow-delay="0.4s" data-wow-duration="1s">
            <div class="center-block text-center icon-box">
              <i class="text-center-vertical fa fa-users fa-2x"></i>
            </div>
            <h2 class="text-center title h4">Specialization in Chip Poly</h2>
            <div class="header-line"></div>
            <p class="text-center description">
              태양광 벨류 체인의 시작점인 칩 폴리(Chip Poly)의 연구, 개발, 생산 판매의 역량을 보유한 전문 회사입니다. 태양광 발전의 기초 소재인 폴리 실리콘을 작은 조각인 칩 폴리로 만들어 태양광 발전의 효율을 극대화하는 핵심 기술과 생산 역량을 갖추고 있습니다.
            </p>
          </div>

          <div class="col-sm-4 wow bounceIn" data-wow-delay="0.8s" data-wow-duration="1s">
            <div class="center-block text-center icon-box">
              <i class="text-center-vertical fa fa-line-chart fa-2x"></i>
            </div>
            <h2 class="text-center title h4">Value Chain Enabler of Solar Industry</h2>
            <div class="header-line"></div>
            <p class="text-center description">
              태양광 발전을 위해서는 폴리 실리콘부터 태양광 모듈까지 여러 단계의 벨류 체인이 있습니다. FineEco는 각 벨류 체인에서 발생되는 각종 스크랩(Scrap) 및 오프 스팩(Off-spec) 제품을 리싸이클링 함으로써 벨류 체인간 생산성과 효율의 극대화를 통해 태양광 산업의 성장에 기여합니다.
            </p>
          </div>

        </div>
      </div>
    </section>

    <!-- 사업소개 : 잉곳 스크랩, 칩폴리 대량생산, 연구개발 -->
    <section class="ourbiz-section">
      <div class="container">
        <div class="row">

          {# <div class="col-sm-12 wow fadeIn" data-wow-delay="1s">
            <h3 class="text-center">Our Business</h3>
            <div class="header-line"></div>
          </div> #}

          <div class="business-item col-sm-4">
            <a class="link" href="business.html">
              <div class="fn-liquid item-image-wrapper">
                <img alt="Chip poly" class="img-responsive" src="images/our-biz-02-alt-01.jpg">
              </div>
              <div class="item-description">
                <div class="outer-wrapper">
                  <div class="inner-wrapper">
                    <h5 class="text-center title">
                      Chip Poly Production
                    </h5>
                    <p class="text-center description">
                      태양광 잉곳 사업자를 위한 칩 폴리 생산
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </div>

          <div class="business-item col-sm-4">
            <a class="link" href="business.html">
              <div class="fn-liquid item-image-wrapper">
                <img alt="Silicon wafer" class="img-responsive" src="images/our-biz-01.jpg">
              </div>
              <div class="item-description">
                <div class="outer-wrapper">
                  <div class="inner-wrapper">
                    <h5 class="text-center title">
                      Ingot Scrap Recycling
                    </h5>
                    <p class="text-center description">
                      오프 그레이드(Off Grade) 웨이퍼 재생
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </div>

          <div class="business-item col-sm-4">
            <a class="link" href="business.html">
              <div class="fn-liquid item-image-wrapper">
                <img alt="Silicon ore and periodic table" class="img-responsive" src="images/our-biz-03.jpg">
              </div>
              <div class="item-description">
                <div class="outer-wrapper">
                  <div class="inner-wrapper">
                    <h5 class="text-center title">
                      Research & Development
                    </h5>
                    <p class="text-center description">
                      칩 폴리 제조 및 웨이퍼 리싸이클링의 생산성 및 효율 향상을 위한 연구 개발
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </div>

        </div>
      </div>
    </section>

  </article>

  {% include "includes/footer.html" %}

{% endblock %}
