{% extends "layouts/base.html" %}


{% block pageStyle %}
  <link rel="stylesheet" href="styles/index.css">
{% endblock %}


{% block contents %}
  <header>

    <!-- 로고 -->
    <div class="po-slider-logo wow fadeIn" data-wow-delay="1.5s">
      <a href="http://fineeco.co.kr">
        <img alt="logo" class="logo center-block" src="images/logo-fineeco.png">
      </a>
    </div>

    <!-- 슬라이드 하단 버튼 -->
    <!-- <div class="po-slider-details wow fadeIn" data-wow-delay="1.5s">
      <div class="container po-slider-buttons">
        <div class="row">
          <div class="col-md-12 col-sm-offset-">
            <button class="slider-btn po-slider-anchor btn outline-button white btn-lg btn-block btn-icon-ani center-block" id="learn-more-button" type="button">Learn more
            </button>
          </div>
        </div>
      </div>
    </div> -->

    <!-- 슬라이드 문구 -->
    <div class="po-slider-text-container wow fadeIn" data-wow-delay="2.5s">
      <div class="po-slider-text center-block">
        <h1 class="po-slider-header text-center">
          <span class="po-slider-header-sub">다음세대를 위한 친환경 에너지 기업,</span>
          <br>FineEco 입니다.
        </h1>

        <h1 class="po-slider-header text-center">
          <span class="po-slider-header-sub">친환경 태양 에너지 산업의 시작점,</span>
          <br>Poly Chip 전문 기업 입니다.
        </h1>

        <h1 class="po-slider-header text-center">
          <span class="po-slider-header-sub">태양광 산업 핵심 가치를 잇고 연결하는,</span>
          <br>Value Chain Enabler 입니다.
        </h1>
      </div>
    </div>

    <!-- 슬라이드 이미지 -->
    <div class="po-slider">
      <div class="po-slider-load" id="po-slider-load"></div>

      <div class="load-block"></div>

      <div class="background-greyscale white"></div>

      <ul class="po-slider-loop">
        <li>
          <img alt="" class="attachment-full wp-post-image" height="900" src="images/slide-background-01.jpg" width="1280">
        </li>

        <li>
          <img alt="" class="attachment-full wp-post-image" height="800" src="images/slide-background-02.jpg" width="1280">
        </li>

        <li>
          <img alt="" class="attachment-full wp-post-image" height="800" src="images/slide-background-03.jpg" width="1280">
        </li>
      </ul>
    </div>

  </header>

  {% include "includes/nav.html" %}

  <article class="po-nav">

    <!-- 기업소개 : 파인에코, 칩폴리 컴퍼니, 벨류체인 엔에이블러 -->
    <section class="entry-content section-background-white section-padding">
      <div class="container">
        <div class="row">

          <div class="po-column col-sm-4 col-sm-offset-0 wow bounceIn" data-wow-duration="1s">
            <div class="po-icon-box icon-fineeco-color hover-ani">
              <div class="icon-box icon-fineeco-color">
                <i class="fa fa-tree fa-2x"></i>
              </div>
              <div class="column-content">
                <h4 class="text-center">FineEco</h4>
                <div class="row">
                  <div class="col-sm-6 col-sm-offset-3">
                    <div class="icon-box-line">
                    </div>
                  </div>
                </div>
                <p class="text-center box-text">
                  다음 세대를 위한 친환경 기업 FineEco는 안전하고 깨끗한 태양광 대중화에 기여하고 있습니다. FineEco는 태양광 산업의 생산성과 효율을 높여 우리 세대의 더 많은 사람에게 친환경 에너지를 제공할 뿐만 아니라 다음 세대를 위한 Fine Ecology의 초석이 되고자 합니다.
                </p>
              </div>
            </div>
          </div>

          <div class="po-column col-sm-4 col-sm-offset-0 wow bounceIn" data-wow-delay="0.4s" data-wow-duration="1s">
            <div class="po-icon-box icon-fineeco-color hover-ani">
              <div class="icon-box icon-fineeco-color">
                <i class="fa fa-users fa-2x"></i>
              </div>
              <div class="column-content">
                <h4 class="text-center">Chip Poly Expert Company</h4>

                <div class="row">
                  <div class="col-sm-6 col-sm-offset-3">
                    <div class="icon-box-line">
                    </div>
                  </div>
                </div>
                <p class="text-center box-text">
                  태양광 Value Chain의 시작점인 Chip Poly의 연구, 개발, 생산 판매의 전문역량을 보유한 전문회사입니다. 태양광 발전의 기초 소재인 Poly Silicon을 작은 조각인 Chip Poly로 만들어 태양광 발전의 효율을 극대화하는 핵심 기술과 생산 역량을 갖추고 있습니다.
                </p>
              </div>
            </div>
          </div>

          <div class="po-column col-sm-4 col-sm-offset-0 wow bounceIn" data-wow-delay="0.8s" data-wow-duration="1s">
            <div class="po-icon-box icon-fineeco-color hover-ani">
              <div class="icon-box icon-fineeco-color">
                <i class="fa fa-line-chart fa-2x"></i>
              </div>
              <div class="column-content">
                <h4 class="text-center">Solar Industry Value Chain Enabler</h4>
                <div class="row">
                  <div class="col-sm-6 col-sm-offset-3">
                    <div class="icon-box-line">
                    </div>
                  </div>
                </div>
                <p class="text-center box-text">
                  태양광 발전을 위해서는 Poly Silicon부터 태양광 모듈까지 5단계의 가치사슬이 있습니다. FineEco는 각 Value Chain에서 발생되는 각종 Scrap 및 Off-spec 제품을 Recycling 함으로써 Value Chain간 생산성과 효율의 극대화를 통해 태양광 산업의 성장에 기여합니다.
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <!-- 이미지 배경, 사업소개 : 태양광산업의 최고파트너 -->
    <section class="po-section section-image section-background-image-fixed section-image-bg-ourbiz">
      <div class="container">
        <div class="row">

          <div class="po-column col-sm-8 col-sm-offset-2 quote-padding wow fadeIn" data-wow-delay="1s">
            <h2 class="header-large text-center">
              The Best Partner for Solar Industry from Poly Silicon to Module
            </h2>
            <div class="header-line header-line-bottom">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="po-column col-sm-12 wow fadeIn" data-wow-delay="1s">
            <p class="text-center box-text">
              FINEECO는 태양광 산업을 위한 최상의 파트너 입니다. 태양광 산업의 핵심 소재 제조 사업자로써, 태양광 산업의 기본인 Ingot의 소재로 사용되는 Chip Poly를 제조합니다. FineEco의 고품질 Chip Poly는 원자재 생산단계에서 모듈 제조까지 태양광 산업 가치사슬 전반에 걸처 반드시 필요한 핵심 요소입니다.
            </p>
          </div>
        </div>

      </div>
    </section>

    <!-- 사업소개 : 잉곳 스크랩, 칩폴리 대량생산, 연구개발 -->
    <section class="section-background-white section-padding">
      <div class="container">
        <div class="row po-full-width">

          <div class="po-column po-header-top col-sm-12 related-bottom wow fadeIn" data-wow-delay="1s">
            <h3 class="text-center">Our Business</h3>
            <div class="header-line header-line-bottom"></div>
          </div>

          <div class="clearfix"></div>

          <div class="portfolio-item col-sm-4 column-4">
            <a href="business.html">
              <div class="liquid-container">
                <img alt="Silicon" class="img-responsive" src="images/our-biz-02-alt-01.jpg">
              </div>
              <div class="portfolio-details">
                <div class="item-description">
                  <div class="description-cell">
                    <h5 class="item-title">
                      Chip poly Massproduct
                    </h5>
                    <div class="subtitle">
                      태양광 Ingot 사업자를 위한 칩 폴리 대량생산
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>

          <div class="portfolio-item col-sm-4 column-4">
            <a href="business.html">
              <div class="liquid-container">
                <img alt="Silicon" class="img-responsive" src="images/our-biz-01.jpg">
              </div>
              <div class="portfolio-details">
                <div class="item-description">
                  <div class="description-cell">
                    <h5 class="item-title">
                      Ingot Scrap Recycling
                    </h5>
                    <div class="subtitle">
                      태양광 웨이퍼 생산중 발생되는 실리콘 잉곳의 수집 및 잉곳 재생산
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>

          <div class="portfolio-item col-sm-4 column-4">
            <a href="business.html">
              <div class="liquid-container">
                <img alt="Silicon" class="img-responsive" src="images/our-biz-03.jpg">
              </div>
              <div class="portfolio-details">
                <div class="item-description">
                  <div class="description-cell">
                    <h5 class="item-title">
                      Research & Development
                    </h5>
                    <div class="subtitle">
                      잉곳, 웨이퍼 사업 효율화를 위한 공정, 생산, 소재, 제품의 연구 개발
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>

        </div>
      </div>
    </section>

    <!-- 이미지 배경, 제품소개 : 실리콘 제조를 위한 좋은 재료 Chip Poly -->
    <section class="po-section section-image section-background-image-fixed section-image-bg-ourproducts">
      <div class="container">
        <div class="row">

          <div class="po-column col-sm-8 col-sm-offset-2 quote-padding wow fadeIn" data-wow-delay="1s">
            <h2 class="header-large text-center">
              Chip Poly - for Efficient, Effective and Productive Ingot Manufacturing.
            </h2>
            <div class="header-line header-line-bottom">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="po-column col-sm-12 wow fadeIn" data-wow-delay="1s">
            <p class="text-center box-text">
              Chip Poly는 10mm ~ 50mm의 입자 크기로 가공한 폴리실리콘 덩어리로 Ingt 제조시 생산성 향상에 필수 소재 입니다.
            </p>
          </div>
        </div>
      </div>

    </section>

    <!-- 제품소개 : 칩폴리 -->
    <section class="section-background-white section-padding-nb">
      <div class="container">
        <div class="row">

          <div class="po-column po-header-top col-sm-12 no-padding wow fadeIn" data-wow-delay="1s">
            <h3 class="text-center">Our Product - Chip Poly</h3>
            <div class="header-line"></div>
          </div>

          <div class="clearfix"></div>

          <div class="po-column col-md-6 col-md-offset-0 padding-nb wow fadeInLeft">
            <img alt="mobile_mini" height="1137" src="images/chip-poly-product-alt-01.jpg" width="1100">
          </div>

          <div class="po-column col-md-6 col-md-offset-0 padding-nb wow fadeIn" data-wow-delay="1s">
            <div class="row">

              <div class="po-column col-md-6 col-md-offset-0 padding-nb wow fadeInRight" data-wow-delay="0.2s">
                <div class="po-icon-left icon-green hover-ani">
                  <table>
                    <tbody>
                      <tr>
                        <td class="icon-td">
                          <div class="po-icon icon-boxless-green">
                            <i class="fa fa-caret-square-o-right fa-2x"></i>
                          </div>
                        </td>
                        <td>
                          <h4 class="small-header-style">High Purity</h4>
                          <p class="box-text">
                            높은 수율의 Ingot 생산은 순도 높은 Chip Poly를 통해 이루어지며, FineEco의 제품은 이를 지원합니다.
                            <br>
                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="po-column col-md-6 col-md-offset-0 padding-nb wow fadeInRight" data-wow-delay="0.4s">
                <div class="po-icon-left icon-green hover-ani">
                  <table>
                    <tbody>
                      <tr>
                        <td class="icon-td">
                          <div class="po-icon icon-boxless-green">
                            <i class="fa fa-smile-o fa-2x"></i>
                          </div>
                        </td>
                        <td>
                          <h4 class="small-header-style">High Quality Control</h4>
                          <p class="box-text">
                            생산부터 최종 출하까지 체계적인 품질 관리를 통해 Chip Poly 제품을 만듭니다.
                            <br>
                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>

            <div class="clearfix hidden-xs"></div>
            <br>

            <div class="row">

              <div class="po-column col-md-6 col-md-offset-0 padding-nb wow fadeInRight" data-wow-delay="0.6s">
                <div class="po-icon-left icon-green hover-ani">
                  <table>
                    <tbody>
                      <tr>
                        <td class="icon-td">
                          <div class="po-icon icon-boxless-green">
                            <i class="fa fa-eye fa-2x"></i>
                          </div>
                        </td>
                        <td>
                          <h4 class="small-header-style">High Productivity</h4>
                          <p class="box-text">
                            FineEco의 Chip Poly는 엄격한 공정과 품질 관리를 통해 고객의 Ingot 생산성을 향상시킵니다.
                            <br>
                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="po-column col-md-6 col-md-offset-0 padding-nb wow fadeInRight" data-wow-delay="0.8s">
                <div class="po-icon-left icon-green hover-ani">
                  <table>
                    <tbody>
                      <tr>
                        <td class="icon-td">
                          <div class="po-icon icon-boxless-green">
                            <i class="fa fa-tablet fa-2x"></i>
                          </div>
                        </td>
                        <td>
                          <h4 class="small-header-style">Customer-Oriented</h4>
                          <p class="box-text">
                            주문고객의 생산 시설과 생산 방식에 최적화된 형태로 제품을 공급합니다.
                            <br>
                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="clearfix hidden-xs"></div>
            <br>

            <div class="row">

              <div class="po-column col-md-6 col-md-offset-0 padding-nb wow fadeInRight" data-wow-delay="1s">
                <div class="po-icon-left icon-green hover-ani">
                  <table>
                    <tbody>
                      <tr>
                        <td class="icon-td">
                          <div class="po-icon icon-boxless-green">
                            <i class="fa fa-flag-o fa-2x"></i>
                          </div>
                        </td>
                        <td>
                          <h4 class="small-header-style">Certified</h4>
                          <p class="box-text">
                            국제규격에 부합하는 전사적 제품 생산, 관리부터 글로벌 파트너사의 주문자 요구사항에 부합하는 검증된 제품을 제공합니다.
                            <br>
                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="po-column col-md-6 col-md-offset-0 padding-nb wow fadeInRight" data-wow-delay="1.2s">
                <div class="po-icon-left icon-green hover-ani">
                  <table>
                    <tbody>
                      <tr>
                        <td class="icon-td">
                          <div class="po-icon icon-boxless-green">
                            <i class="fa fa-folder-open-o fa-2x"></i>
                          </div>
                        </td>
                        <td>
                          <h4 class="small-header-style">Eco Managmented Product</h4>
                          <p class="box-text">
                            ISO 14001의 환경 관리 체계를 통해 안전하고 깨끗한 생산과정을 거칩니다.
                            <br>
                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- 파트너 -->
    <section class="po-section section-image section-background-image-fixed section-image-bg-ourpartner">
      <div class="container">
        <div class="row">

          <div class="po-column po-header-top col-sm-12 related-bottom wow fadeIn">
            <h3 class="text-center">Our Partners</h3>
            <div class="header-line header-line-bottom"></div>
          </div>

          <div class="col-sm-10 col-sm-offset-1">
            <div class="row">

              <div class="po-column client-image col-sm-3 column-3 wow fadeIn">
                <div class="client-container" data-placement="top" data-toggle="tooltip" title="woongjin energy">
                  <div class="client-details">
                    <div class="item-description">
                    </div>
                  </div>
                  <div class="liquid-container-clients">
                    <img alt="woongjin energy" class="attachment-full wp-post-image" height="447" src="images/woongjin.png" width="700">
                  </div>
                </div>
              </div>

              <div class="po-column client-image col-sm-3 column-3 wow fadeIn">
                <div class="client-container" data-placement="top" data-toggle="tooltip" title="SKC solmics">
                  <div class="client-details">
                    <div class="item-description">
                    </div>
                  </div>
                  <div class="liquid-container-clients">
                    <img alt="SKC solmics" class="attachment-full wp-post-image" height="447" src="images/skc-solmics.png" width="700">
                  </div>
                </div>
              </div>

              <div class="po-column client-image col-sm-3 column-3 wow fadeIn">
                <div class="client-container" data-placement="top" data-toggle="tooltip" title="Sun Edison">
                  <div class="client-details">
                    <div class="item-description">
                    </div>
                  </div>
                  <div class="liquid-container-clients imgLiquid_bgSize imgLiquid_ready">
                    <img alt="Sun Edison" class="attachment-full wp-post-image" height="447" src="images/sun-edison.png" width="700">
                  </div>
                </div>
              </div>

              <div class="po-column client-image col-sm-3 column-3 wow fadeIn">
                <div class="client-container" data-placement="top" data-toggle="tooltip" title="SK hynix">
                  <div class="client-details">
                    <div class="item-description">
                    </div>
                  </div>
                  <div class="liquid-container-clients">
                    <img alt="SK hynix" class="attachment-full wp-post-image" height="447" src="images/sk-hynix.png" width="700">
                  </div>
                </div>
              </div>

            </div>
            <div class="row">

              <div class="po-column client-image col-sm-3 column-3 wow fadeIn" data-wow-delay="1s">
                <div class="client-container" data-placement="top" data-toggle="tooltip" title="SAMSUNG Electronics">
                  <div class="client-details">
                    <div class="item-description">
                    </div>
                  </div>
                  <div class="liquid-container-clients">
                    <img alt="SAMSUNG Electronics" class="attachment-full wp-post-image" height="447" src="images/samsung.png" width="700">
                  </div>
                </div>
              </div>

              <div class="po-column client-image col-sm-3 column-3 wow fadeIn" data-wow-delay="1s">
                <div class="client-container" data-placement="top" data-toggle="tooltip" title="nexolon">
                  <div class="client-details">
                    <div class="item-description">
                    </div>
                  </div>
                  <div class="liquid-container-clients">
                    <img alt="nexolon" class="attachment-full wp-post-image" height="447" src="images/nexolon.png" width="700">
                  </div>
                </div>
              </div>

              <div class="po-column client-image col-sm-3 column-3 wow fadeIn" data-wow-delay="1s">
                <div class="client-container" data-placement="top" data-toggle="tooltip" title="HYUNDAI HEAVEY INDUSTRIES">
                  <div class="client-details">
                    <div class="item-description">
                    </div>
                  </div>
                  <div class="liquid-container-clients">
                    <img alt="HYUNDAI HEAVEY INDUSTRIES" class="attachment-full wp-post-image" height="447" src="images/hyundai.png" width="700">
                  </div>
                </div>
              </div>

              <div class="po-column client-image col-sm-3 column-3 wow fadeIn" data-wow-delay="1s">
                <div class="client-container" data-placement="top" data-toggle="tooltip" title="shinsung SOLAR ENERGY">
                  <div class="client-details">
                    <div class="item-description">
                    </div>
                  </div>
                  <div class="liquid-container-clients">
                    <img alt="shinsung SOLAR ENERGY" class="attachment-full wp-post-image" height="447" src="images/shinsung.png" width="700">
                  </div>
                </div>
              </div>

              <!-- <div class="po-column client-image col-sm-3 column-3 wow fadeIn" data-wow-delay="1s">
                <div class="client-container" data-placement="top" data-toggle="tooltip" title="LG ERICSSON">
                  <div class="client-details">
                    <div class="item-description">
                    </div>
                  </div>
                  <div class="liquid-container-clients">
                    <img alt="LG ERICSSON" class="attachment-full wp-post-image" height="447" src="images/lg-ericsson.png" width="700">
                  </div>
                </div>
              </div> -->

            </div>

          </div>

        </div>
      </div>
    </section>

    {% include "includes/contact.html" %}

  </article>

  {% include "includes/footer.html" %}

{% endblock %}
