{% extends "layouts/base.html" %} {% block pageStyle %}
<!-- build:css styles/index-page.css -->
<link rel="stylesheet" href="/bower_components/fullpage.js/jquery.fullPage.css">
<link rel="stylesheet" href="styles/index.css">
<!-- endbuild -->
{% endblock %} {% block contents %} {% include "includes/nav.html" %}

<article id="fullpage">

  <section class="section section-fineeco">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="title text-center">
            <span class="h2">다음세대를 위한 친환경 에너지 기업,</span>
            <br>FineEco 입니다.
          </h1>
        </div>
        <div class="col-sm-6 col-sm-offset-3">
          <img class="logo img-responsive center-block wow fadeIn" src="images/logo-fineeco-slogan-white.png" data-wow-delay="1s" alt="fineeco">
        </div>
      </div>
    </div>
  </section>

  <section class="section section-chippoly">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="title text-center">
            <span class="h2">친환경 태양광 산업의 시작점,</span>
            <br>Chip Poly 전문 기업 입니다.
          </h1>
        </div>
        <div class="col-sm-6 col-sm-offset-3">
          <img class="logo img-responsive center-block wow fadeIn" src="images/logo-fineeco-slogan-white.png" data-wow-delay="1s" alt="fineeco">
        </div>
      </div>
    </div>
  </section>

  <section class="section section-valuechain">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="title text-center">
            <span class="h2">태양광 산업 핵심 가치를 연결하는,</span>
            <br>Value Chain Enabler 입니다.
          </h1>
        </div>
        <div class="col-sm-6 col-sm-offset-3">
          <img class="logo img-responsive center-block wow fadeIn" src="images/logo-fineeco-slogan-white.png" data-wow-delay="1s" alt="fineeco">
        </div>
      </div>
    </div>
  </section>

</article>

{% include "includes/footer.html" %} {% endblock %} {% block pageScript %}
<!-- build:js styles/index-page.js -->
<script src="/bower_components/fullpage.js/jquery.fullPage.js"></script>
<script src="scripts/index.js"></script>
<!-- endbuild -->
{% endblock %}
