{% extends "layouts/base.html" %}

{% block pageStyle %}
  <!-- build:css styles/product-page.css -->
  <link rel="stylesheet" href="styles/product.css">
  <!-- endbuild -->
{% endblock %}

{% block contents %}

  {% include "includes/nav.html" %}

  <article>

    <section class="background-image-fixed chippoly-masthead-section">
      <div class="container">
        <div class="row">

          <div class="col-sm-8 col-sm-offset-2 wow fadeIn">
            <hgroup class="title">
              <h1 class="main">Chip Poly</h1>
              <h2 class="sub">For Efficient, Effective and Productive Ingot Manufacturing</h2>
            </hgroup>
          </div>

        </div>
      </div>
    </section>

    <section class="chippoly-description-section">
      <div class="container">
        <div class="row">

          <div class="col-sm-12">
            <p>
              Chip Poly는 Ingot Scrap 및 Chunk Type Poly Silicon을 Cracking 하여 5~40mm Size로 만든 것으로 Ingot 결정 성장시 반드시 투입되어야할 필수 원자재입니다.
            </p>
            <p>
              FineEco의 Chip Poly는 원가 및 품질 측면에서 세계 최고의 경쟁력을 확보하고 있으며, 끊임없는 R&D를 통하여 경쟁력을 지속적으로 향상시키고 있습니다.
            </p>
          </div>

        </div>
      </div>
    </section>

    <section class="sizes-section">
      <div class="container">
        <div class="row">

          <div class="col-sm-12 wow fadeIn title">
            <h3 class="text-center">Custom Variations</h3>
            <div class="header-line"></div>
          </div>

        </div>
        <div class="row">

          <div class="col-sm-3 col-sm-offset-0">
            <img src="images/product-2to10.jpg" alt="Chip poly 2mm to 10mm" class="img-circle center-block wow fadeIn">

            <div class="header-line wow fadeIn"></div>

            <h4 class="text-center wow fadeInUp" data-wow-delay="0.9s">2~10mm.</h4>
          </div>

          <div class="col-sm-3 col-sm-offset-0">
            <img src="images/product-5to10.jpg" alt="Chip poly 5mm to 10mm" class="img-circle center-block wow fadeIn">

            <div class="header-line wow fadeIn"></div>

            <h4 class="text-center wow fadeInUp" data-wow-delay="0.9s">5~10mm.</h4>
          </div>

          <div class="col-sm-3 col-sm-offset-0">
            <img src="images/product-10to20.jpg" alt="Chip poly 10mm to 20mm" class="img-circle center-block wow fadeIn">

            <div class="header-line wow fadeIn"></div>

            <h4 class="text-center wow fadeInUp" data-wow-delay="0.9s">10~20mm.</h4>
          </div>

          <div class="col-sm-3 col-sm-offset-0">
            <img src="images/product-20to30.jpg" alt="Chip poly 20mm to 30mm" class="img-circle center-block wow fadeIn">

            <div class="header-line wow fadeIn"></div>

            <h4 class="text-center wow fadeInUp" data-wow-delay="0.9s">20~30mm.</h4>
          </div>

        </div>
      </div>

    </section>

    <section class="background-image-fixed sizes-description-section">
      <div class="container">
        <div class="row">

          <div class="col-sm-12 wow fadeIn">
            <p class="text-center">
              폴리실리콘 잉곳, 웨이퍼 생산자등 업체 시설 및 특성에 최적화된 Poly Chip 크기를 수요와 요구에 맞추어 제공합니다.
            </p>
          </div>

        </div>
      </div>
    </section>

  </article>

  {% include "includes/footer.html" %}

{% endblock %}
