{% extends "layouts/base.html" %}
{% set active_page = "product" %}

{% block pageStyle %}
  <!-- build:css styles/product-page.css -->
  <link rel="stylesheet" href="styles/product.css">
  <!-- endbuild -->
{% endblock %}

{% block contents %}

  {% include "includes/nav.html" %}

  <article>

    <section class="chippoly-masthead-section background-image-fixed">
      <div class="container">
        <div class="row">

          <div class="col-sm-8 col-sm-offset-2 wow fadeIn">
            <hgroup class="title">
              <h1 class="main">Chip Poly</h1>
              <h2 class="sub">Essential Material for Protovoltaic Industry</h2>
            </hgroup>
          </div>

        </div>
      </div>
    </section>

    <section class="chippoly-description-section background-image-fixed">
      <div class="container">
        <div class="row">

          <div class="col-md-8 col-md-offset-2">
            <p data-i18n="description.0"></p>
            <p data-i18n="description.1"></p>
          </div>

        </div>
      </div>
    </section>

    <!-- 제품소개 : 칩폴리 -->
    <section class="chippoly-section">
      <div class="container">
        <div class="row">

          <div class="col-sm-12 wow fadeIn" data-wow-delay="1s">
            <h3 class="text-center">Our Product - Chip Poly</h3>
            <div class="header-line"></div>
          </div>

          <div class="chippoly-img-wrapper col-md-6 col-md-offset-0 wow fadeInLeft">
            <img alt="Chip poly" class="chippoly-img" src="images/chip-poly-product.jpg">
          </div>

          <div class="advantage-wrapper col-md-6 col-md-offset-0 wow fadeIn" data-wow-delay="1s">
            <div class="row">

              <div class="advantage col-md-6 col-md-offset-0 wow fadeInRight" data-wow-delay="0.2s">
                <div class="row">
                  <div class="col-xs-2">
                    <i class="fa fa-caret-square-o-right fa-2x icon"></i>
                  </div>
                  <div class="col-xs-10">
                    <h4 class="title">High Purity</h4>
                    <p class="description" data-i18n="features.purity"></p>
                    <br>
                  </div>
                </div>
              </div>

              <div class="advantage col-md-6 col-md-offset-0 wow fadeInRight" data-wow-delay="0.4s">
                <div class="row">
                  <div class="col-xs-2">
                    <i class="fa fa-smile-o fa-2x icon"></i>
                  </div>
                  <div class="col-xs-10">
                    <h4 class="title">High Quality Control</h4>
                    <p class="description" data-i18n="features.quality"></p>
                    <br>
                  </div>
                </div>
              </div>

            </div>
            <div class="row">

              <div class="advantage col-md-6 col-md-offset-0 wow fadeInRight" data-wow-delay="0.6s">
                <div class="row">
                  <div class="col-xs-2">
                    <i class="fa fa-eye fa-2x icon"></i>
                  </div>
                  <div class="col-xs-10">
                    <h4 class="title">High Productivity</h4>
                    <p class="description" data-i18n="features.productivity"></p>
                    <br>
                  </div>
                </div>
              </div>

              <div class="advantage col-md-6 col-md-offset-0 wow fadeInRight" data-wow-delay="0.8s">
                <div class="row">
                  <div class="col-xs-2">
                    <i class="fa fa-tablet fa-2x icon"></i>
                  </div>
                  <div class="col-xs-10">
                    <h4 class="title">Customer-Oriented</h4>
                    <p class="description"  data-i18n="features.custom"></p>
                    <br>
                  </div>
                </div>
              </div>

            </div>
            <div class="row">

              <div class="advantage col-md-6 col-md-offset-0 wow fadeInRight" data-wow-delay="1s">
                <div class="row">
                  <div class="col-xs-2">
                    <i class="fa fa-flag-o fa-2x icon"></i>
                  </div>
                  <div class="col-xs-10">
                    <h4 class="title">Certified</h4>
                    <p class="description"  data-i18n="features.certified"></p>
                    <br>
                  </div>
                </div>
              </div>

              <div class="advantage col-md-6 col-md-offset-0 wow fadeInRight" data-wow-delay="1.2s">
                <div class="row">
                  <div class="col-xs-2">
                    <i class="fa fa-folder-open-o fa-2x icon"></i>
                  </div>
                  <div class="col-xs-10">
                    <h4 class="title">Environment-Friendly</h4>
                    <p class="description" data-i18n="features.eco"></p>
                    <br>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="background-image-fixed sizes-description-section">
      <div class="container">
        <div class="row">

          <div class="col-md-8 col-md-offset-2 wow fadeIn">
            <p class="text-center"  data-i18n="sizeDescription"></p>
          </div>

        </div>
      </div>
    </section>

    <section class="sizes-section">
      <div class="container">
        <div class="row">

          <div class="col-sm-12 wow fadeIn title">
            <h3 class="text-center">Custom Variations</h3>
            <div class="header-line"></div>
          </div>

        </div>
        <div class="row">

          <div class="col-sm-3 col-sm-offset-0">
            <img src="images/product-2to10.jpg" alt="Chip poly 2mm to 10mm" class="img-circle center-block wow fadeIn">

            <div class="header-line wow fadeIn"></div>

            <h4 class="title text-center wow fadeInUp">2~10mm.</h4>
          </div>

          <div class="col-sm-3 col-sm-offset-0">
            <img src="images/product-5to10.jpg" alt="Chip poly 5mm to 10mm" class="img-circle center-block wow fadeIn">

            <div class="header-line wow fadeIn"></div>

            <h4 class="image-title text-center wow fadeInUp">5~10mm.</h4>
          </div>

          <div class="col-sm-3 col-sm-offset-0">
            <img src="images/product-10to20.jpg" alt="Chip poly 10mm to 20mm" class="img-circle center-block wow fadeIn">

            <div class="header-line wow fadeIn"></div>

            <h4 class="image-title text-center wow fadeInUp">10~20mm.</h4>
          </div>

          <div class="col-sm-3 col-sm-offset-0">
            <img src="images/product-20to30.jpg" alt="Chip poly 20mm to 30mm" class="img-circle center-block wow fadeIn">

            <div class="header-line wow fadeIn"></div>

            <h4 class="image-title text-center wow fadeInUp">20~30mm.</h4>
          </div>

        </div>
      </div>
    </section>

  </article>

  {% include "includes/footer.html" %}

{% endblock %}

{% block pageScript %}
<!-- build:js scripts/product.js -->
<script src="scripts/product.js"></script>
<!-- endbuild -->
{% endblock %}
