{% extends "layouts/base.html" %}

{% block pageStyle %}
  <link rel="stylesheet" href="styles/product.css">
{% endblock %}

{% block contents %}

  {% include "includes/nav.html" %}

  <article>

    <section class="po-section section-image section-background-image-fixed section-image-bg-polychip">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 wow fadeIn">
            <hgroup class="intro-title">
              <h1 class="main">Chip Poly</h1>
              <h2 class="sub">Manufactured by FINEECO</h2>
            </hgroup>
          </div>
        </div>
      </div>
    </section>

    <section class="po-section description">
      <div class="container">
        <div class="row po-full-width">
          <div class="col-sm-12">
            <p>
              Chip Poly는 10mm ~ 30mm의 크기 입자로 가공한 폴리실리콘 덩어리로 Chunk, Nugget, Granular, Rod등의 다양한 크기의 폴리 실리콘과 함께 결정성장시 매우 효율적으로 실리콘 웨이퍼를 생산이 가능합니다.
            </p>
            <p>
              FINEECO의 Chip Poly는 솔라셀의 원자재인 금속실리콘, 금속실리콘 가공물인 폴리실리콘, 폴리실리콘 가공물인 웨이퍼, 웨이퍼 가공물인 솔라셀의 태양광 산업의 각단계별 필연적으로 발생되는 실리콘을 고품질, 고효율, 고순도로 임가공한 산업계 최고 수준의 제품입니다.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="section-background-white section-lineshadow-top section-padding">
      <div class="container">
        <div class="row">

          <div class="po-column po-header-top col-sm-12 related-bottom wow fadeIn">
            <h3 class="text-center">Custom Variations</h3>
            <div class="header-line header-line-bottom"></div>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
          <div class="po-column col-sm-3 col-sm-offset-0 wow fadeIn">
            <div class="po-column-mobile-ani wow fadeIn">
              <div class="hover-ani">
                <div class="circular-cont center-block">
                  <div class="circular-cont-inner">
                    <div class="icon-circular sizes-bg sizes-bg-2to10">
                    </div>
                  </div>
                </div>

                <div class="circular-line center-block wow fadeIn"></div>

                <div class="po-column po-column-mobile-ani po-header-small wow fadeInUp" data-wow-delay="0.9s">
                  <h4 class="circular-text text-center">2~10mm.</h4>
                </div>
              </div>
            </div>
          </div>

          <div class="po-column col-sm-3 col-sm-offset-0 wow fadeIn">
            <div class="po-column-mobile-ani wow fadeIn">
              <div class="hover-ani">
                <div class="circular-cont center-block">
                  <div class="circular-cont-inner">
                    <div class="icon-circular sizes-bg sizes-bg-5to10">
                    </div>
                  </div>
                </div>

                <div class="circular-line center-block wow fadeIn"></div>

                <div class="po-column po-column-mobile-ani po-header-small wow fadeInUp" data-wow-delay="0.9s">
                  <h4 class="circular-text text-center">
                    5~10mm.</h4>
                </div>
              </div>
            </div>
          </div>

          <div class="po-column col-sm-3 col-sm-offset-0 wow fadeIn">
            <div class="po-column-mobile-ani wow fadeIn">
              <div class="hover-ani">
                <div class="circular-cont center-block">
                  <div class="circular-cont-inner">
                    <div class="icon-circular sizes-bg sizes-bg-10to20">
                    </div>
                  </div>
                </div>

                <div class="circular-line center-block wow fadeIn"></div>

                <div class="po-column po-column-mobile-ani po-header-small wow fadeInUp" data-wow-delay="0.9s">
                  <h4 class="circular-text text-center">
                    10~20mm.</h4>
                </div>
              </div>
            </div>
          </div>

          <div class="po-column col-sm-3 col-sm-offset-0 wow fadeIn">
            <div class="po-column-mobile-ani wow fadeIn">
              <div class="hover-ani">
                <div class="circular-cont center-block">
                  <div class="circular-cont-inner">
                    <div class="icon-circular sizes-bg sizes-bg-20to30">
                    </div>
                  </div>
                </div>

                <div class="circular-line center-block wow fadeIn"></div>

                <div class="po-column po-column-mobile-ani po-header-small wow fadeInUp" data-wow-delay="0.9s">
                  <h4 class="circular-text text-center">20~30mm.</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

    <section class="po-section section-image section-background-image-fixed section-image-bg-sizes-description">
      <div class="container">
        <div class="row">

          <div class="no-padding po-full-width po-column col-sm-12 wow fadeIn">
            <p class="text-center box-text">
              폴리실리콘 잉곳, 웨이퍼 생산자등 업체 시설 및 특성에 최적화된 Poly Chip 크기를 수요와 요구에 맞추어 제공합니다.
            </p>
          </div>
        </div>

      </div>
    </section>

  </article>

  {% include "includes/footer.html" %}

{% endblock %}
